.query {
	&_wrap {
		margin-bottom: 20px;
		border-top: 1px solid rgba(#000, 0.04);

		overflow: scroll;
		display: flex;
		flex-flow: row wrap;

	}

	&_val,
	&_result {
		white-space: pre;
		width: 100%;
		overflow-y: scroll;
		margin-bottom: 20px;
		font-size: 14px;
		background-color: rgba(#eeeeee, 0.4);
		padding: 20px;
	}
	&_actions {
		margin: 20px 0;
		width: 100%;
		button {
			margin-right: 20px;
		}
	}

	
	&_handle {
		margin: 32px 0;
		cursor: pointer;
		
		:global( .vip-h3 ) {
			margin: 0;

			&::selection {
				background-color: initial;
			}
			&::before {
				content: "";
				background-image: url(../../assets/minus.svg);
				background-position: center;
				background-repeat: no-repeat;
				margin-right: 16px;
				width: 16px;
				height: 16px;
				display: inline-block;

			}
		}
	}
	
	&_collapsed {
		.grid_container {
			display: none;
		}

		:global( .vip-h3 ) {
			&::before {
				content: "";
				background-image: url(../../assets/plus.svg);
			}
		}
	}

}


	.grid_container {
		width: 100%;
		border: 1px solid rgba(#000, 0.04);
		border-radius: 3px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 0.4fr 9.5fr;
		gap: 0px 0px;
		grid-template-areas:
			'query-src-header query-res-header'
			'query-src query-res';
	}

	.query_src_header {
		grid-area: query-src-header;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		
	}
	.query_res_header {
		grid-area: query-res-header;
	}
	
	.query_src_header, 
	.query_res_header {
		padding: 16px 32px;
		display: flex;
		flex-flow: row;
		align-items: center;
	}

	.query_src {
		grid-area: query-src;

		&_extra {
			@include text-caption();
			display: flex;
			> * {
				margin: 0 4px;
			}
		}
	}
	.query_res {
		grid-area: query-res;
	}



	.backtrace {
		position: relative;

		strong {
			@include text-caption();
		}
		
		:global(.vip-h4) {
			cursor: pointer;
			color: var(--vip-brand-60);
		}
	}

	.backtrace_details {
		display: none;
		position: absolute;
		top: calc(100% + 12px);
		width: 400px;

			background: #FFFFFF;
			/* Medium */
			box-shadow: 0px 14px 38px rgba(0, 0, 0, 0.07), 0px 1.6711px 15.8755px rgba(0, 0, 0, 0.0503198), 0px 0.893452px 8.4878px rgba(0, 0, 0, 0.0417275), 0px 0.500862px 4.75819px rgba(0, 0, 0, 0.035), 0px 0.266004px 2.52704px rgba(0, 0, 0, 0.0282725), 0px 0.11069px 1.05156px rgba(0, 0, 0, 0.0196802);
			border-radius: 3px;
			// display: flex;
			// flex-flow: row wrap;
			align-items: flex-start;
			padding: 16px;
			list-style-position: inside;

			li { 
				margin-bottom: 8px;
				@include text-small();
			}

		.visible & {
			display: block;
		}
	}