/**
 * GHColors theme by Avi Aryan (http://aviaryan.in)
 * Inspired by Github syntax coloring
 */

// We use ID here to absolutely ensure the specificity of the selector
#search-dev-tools-portal {
	code[class*='language-'],
	pre[class*='language-'] {
		color: #393a34;
		font-family: var(--vip-font-family);
		direction: ltr;
		text-align: left;
		white-space: pre;
		word-spacing: normal;
		word-break: normal;
		font-size: 0.9em;
		line-height: 1.2em;

		-moz-tab-size: 4;
		-o-tab-size: 4;
		tab-size: 4;

		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}

	pre > code[class*='language-'] {
		font-size: 1em;
	}

	pre[class*='language-']::-moz-selection,
	pre[class*='language-'] ::-moz-selection,
	code[class*='language-']::-moz-selection,
	code[class*='language-'] ::-moz-selection {
		background: #b3d4fc;
	}

	pre[class*='language-']::selection,
	pre[class*='language-'] ::selection,
	code[class*='language-']::selection,
	code[class*='language-'] ::selection {
		background: #b3d4fc;
	}

	/* Code blocks */
	pre[class*='language-'] {
		padding: 1em;
		margin: 0.5em 0;
		overflow: auto;
		border: 1px solid #dddddd;
		background-color: white;
	}

	/* Inline code */
	:not(pre) > code[class*='language-'] {
		padding: 0.2em;
		padding-top: 1px;
		padding-bottom: 1px;
		background: #f8f8f8;
		border: 1px solid #dddddd;
	}

	.token.comment,
	.token.prolog,
	.token.doctype,
	.token.cdata {
		color: #999988;
		font-style: italic;
	}

	.token.namespace {
		opacity: 0.7;
	}

	.token.string,
	.token.attr-value {
		color: #e3116c;
	}

	.token.punctuation,
	.token.operator {
		color: #393a34; /* no highlight */
	}

	.token.entity,
	.token.url,
	.token.symbol,
	.token.number,
	.token.boolean,
	.token.variable,
	.token.constant,
	.token.property,
	.token.regex,
	.token.inserted {
		color: #36acaa;
	}

	.token.atrule,
	.token.keyword,
	.token.attr-name,
	.language-autohotkey .token.selector {
		color: #00a4db;
	}

	.token.function,
	.token.deleted,
	.language-autohotkey .token.tag {
		color: #9a050f;
	}

	.token.tag,
	.token.selector,
	.language-autohotkey .token.keyword {
		color: #00009f;
	}

	.token.important,
	.token.function,
	.token.bold {
		font-weight: bold;
	}

	.token.italic {
		font-style: italic;
	}

	pre[class*='language-'] {
		background-color: unset;
		border: 0;
		padding-top: 0;
		margin-top: 0;
	}

	// Line numbers Prism Plugin
	pre[class*='language-'].line-numbers {
		position: relative;
		padding-left: 3.8em;
		counter-reset: linenumber;
	}

	pre[class*='language-'].line-numbers > code {
		position: relative;
		white-space: inherit;
	}

	.line-numbers .line-numbers-rows {
		position: absolute;
		pointer-events: none;
		top: 0;
		font-size: 12px;
		left: -3.8em;
		width: 3em;
		user-select: none;
	}

	.line-numbers-rows > span {
		display: block;
		counter-increment: linenumber;
	}

	.line-numbers-rows > span:before {
		content: counter(linenumber);
		color: var(--vip-grey-60);
		opacity: 0.5;
		display: block;
		padding-right: 0.8em;
		text-align: right;
	}
}
