:root {
--vip-brand-0: #fcfafa;
--vip-brand-10: #F2EFEC;
--vip-brand-20: #eee9e5;
--vip-brand-30: #e7dbcc;
--vip-brand-40: #dfc39e;
--vip-brand-50: #d8a45f;
--vip-brand-60: #ad7832;
--vip-brand-70: #835418;
--vip-brand-80: #58340b;
--vip-brand-90: #2d1803;
--vip-brand-100: #030100;
--vip-grey-0: #fafafa;
--vip-grey-10: #f3f3f3;
--vip-grey-20: #e4e4e4;
--vip-grey-30: #c8c8c8;
--vip-grey-40: #9d9d9d;
--vip-grey-50: #666666;
--vip-grey-60: #5c5c5c;
--vip-grey-70: #484848;
--vip-grey-80: #2A2A2A;
--vip-grey-90: #202020;
--vip-grey-100: #030303;
--vip-red-0: #fafafa;
--vip-red-10: #ffeded;
--vip-red-20: #ffd4d1;
--vip-red-30: #ffaca6;
--vip-red-40: #ff786f;
--vip-red-50: #f24033;
--vip-red-60: #c72316;
--vip-red-70: #971005;
--vip-red-80: #650800;
--vip-red-90: #330400;
--vip-red-100: #030000;
--vip-green-0: #f5faf7;
--vip-green-10: #e6f6eb;
--vip-green-20: #c0ebcf;
--vip-green-30: #85d7a4;
--vip-green-40: #3eb974;
--vip-green-50: #00944b;
--vip-green-60: #006b3f;
--vip-green-70: #00482f;
--vip-green-80: #002f21;
--vip-green-90: #002017;
--vip-green-100: #001a13;
--vip-blue-0: #fafbfc;
--vip-blue-10: #ecf3f8;
--vip-blue-20: #d7e9f0;
--vip-blue-30: #b9dbe5;
--vip-blue-40: #8bc9d6;
--vip-blue-50: #2fb3c2;
--vip-blue-60: #0693a9;
--vip-blue-70: #00738a;
--vip-blue-80: #005064;
--vip-blue-90: #002c39;
--vip-blue-100: #00090d;
}
