<html>
<head>
<script src='http://ads.jetpackdigital.com/js/jpiframe.js' type='text/javascript'></script>
<script type="text/javascript">
if(typeof jpiframeoverridefunc == "function") {
	jpiframeoverridefunc();
} else {
if(window.parent != window.top && (typeof jpoverride == "undefined" || !jpoverride)) {
	window.parent.location.href = location.href;
} else {
	try {
	function jpGetQueryVariable(variable, query) {
		var vars = query.split("&");
		for (var i=0;i<vars.length;i++) {
			var pair = vars[i].split("=");
			if (pair[0] == variable) {
				return pair[1];
			}
		}
	}

	var dom = unescape(jpGetQueryVariable("d",window.location.search.substring(1)));
	if(typeof(dom) != "undefined" && dom != "undefined") {
		document.domain = dom;
	}


	var d = top.document;

	var a = window.frameElement;
	var src = a.src;

	var scrsrc = unescape(jpGetQueryVariable("src",window.location.search.substring(1)));
	var rep = unescape(jpGetQueryVariable("r",window.location.search.substring(1)));
	var fid = unescape(jpGetQueryVariable("fid",window.location.search.substring(1)));

	jpli = jpGetQueryVariable("jpli",window.location.search.substring(1));
	if(typeof jpli != "undefined") {
		jpli = parseInt(jpli);
	}

	var jpiframeid = "jpiframe_" + jpli;
	var jpplatformid = "jpplatform_" + jpli;
	if(typeof fid != "undefined" && fid != "undefined") {
		jpiframeid += "_" + parseInt(fid);
		jpplatformid += "_" + parseInt(fid);
	}

	if(a) {
		jpiframe = d.createElement("div");
		jpiframe.id=jpiframeid;
		jpiframe.innerHTML = "<div id='" + jpplatformid + "' rel='" + jpplatformid + "'></div>";
 		a.parentNode.insertBefore(jpiframe, a);
		if(rep == "1") {
			a.style.display = "none";
		}
	} else {
		jpiframe = d.createElement("div");
		jpiframe.id=jpiframeid;
		jpiframe.innerHTML = "<div id='" + jpplatformid + "' rel='" + jpplatformid + "'></div>";
		d.body.appendChild(jpiframe);
	}

	requestedXDM = true;

	if(typeof requestedLineItemXDM == "undefined") {
		requestedLineItemXDM = new Array();
	}
	requestedLineItemXDM["lid_" + jpli] = true;

	var script = document.createElement( 'script' );
	script.type = 'text/javascript';
	if(fid != "undefined") {
		script.text =  "var fid=" + parseInt(fid) + ";jpli = " + jpli + ";";
	} else {
		script.text =  "var jpli = " + jpli + ";";
	}
	jpiframe.appendChild(script);
	var script2 = document.createElement( 'script' );
	script2.type = 'text/javascript';
	scrsrc = scrsrc.replace(/http.*?:\/\/ads\.jetpackdigital\.com\//,"");
	script2.src =  encodeURI(((document.location.protocol=="https:")?"https://jp_cd.s3.amazonaws.com/":"http://ads.jetpackdigital.com/")+scrsrc);
	jpiframe.appendChild(script2);
	} catch(e) {
	}
}
}
</script>
</head>
<body>
</body>
</html>
