# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
# This team will be requested for review when someone opens a pull request.
* @Parsely/wp-parsely
