.dockerignore

.ackrc
.babelrc
.browserslistrc
.circleci
.codeclimate.yml
.coveralls.yml
.distignore
.editorconfig
.eslines.json
.eslintignore
.eslintrc
.eslintrc.js
.eslintrc.json
.git
.gitattributes
.github
.gitignore
.gitmodules
.husky
.huskyrc.json
.jscsrc
.jshintignore
.jshintrc
.lintstagedrc
.npmrc
.nvmrc
.phpcs.xml.dist
.scrutinizer.yml
.travis.yml
.secrets/.svn
.wordpress-org/
composer.json
composer.lock
CONTRIBUTING.md
dangerfile.js
Gruntfile.js
gulpfile.babel.js
install-wp-tests.sh
LICENSE
LICENSE.md
Makefile
package.json
package-lock.json
phpcs.ruleset.xml
phpcs.xml
phpcs.xml.dist
phpdoc.dist.xml
phpunit.xml
phpunit.xml.dist
phpunit-multisite.xml
README.md
readme.md
readme.txt
renovate.json
SECURITY.md
webpack.config.js
wpcom-helper.php
yarn.lock

/README-PUBLIC.md
/akismet/changelog.txt
/bin/
/ci/
/cache/examples/
/cron-control/bin/
/cron-control/runner/
/cron-control/tests/
/cron-control-next/bin/
/cron-control-next/runner/
/cron-control-next/tests/
/drop-ins/object-cache/bin/
/drop-ins/object-cache/tests/
/search/docs/
/search/elasticpress/bin/
/search/elasticpress/config/
/search/elasticpress/docs/
/search/elasticpress/tests/
/search/elasticpress/run-wpacceptance.sh
/search/elasticpress/wpacceptance.json
/search/elasticpress/CHANGELOG.md
/search/elasticpress/hookdoc-conf.json
/search/elasticpress/postcss.config.js
/search/es-wp-query/bin/
/search/es-wp-query/tests/
/jetpack/bin/build-asset-cdn-json.php
/jetpack/docker/
/jetpack/docs/
/jetpack/tests/
/jetpack/to-test.md
/jetpack/tools/
/lightweight-term-count-update/multisite.xml
/lightweight-term-count-update/tests/
/query-monitor/assets-wp-repo/
/query-monitor/bin/test.sh
/query-monitor/tests/
/shared-plugins/two-factor/.ci-env.sh
/shared-plugins/two-factor/assets/
/shared-plugins/two-factor/dev-lib/
/shared-plugins/two-factor/tests/
/tests/
/vaultpress/changelog.txt
/vip-support/.circleci
/vip-support/bin/
/vip-support/features/
/vip-support/tests/

# A few files in Jetpack >9.7 that are giving linting errors due to incompatible PHP versions
/jetpack*/vendor/automattic/jetpack-password-checker/vendor/symfony/polyfill-ctype/bootstrap80.php
/jetpack*/vendor/automattic/jetpack-password-checker/vendor/symfony/polyfill-intl-grapheme/bootstrap80.php
/jetpack*/vendor/automattic/jetpack-password-checker/vendor/symfony/polyfill-intl-normalizer/bootstrap80.php
/jetpack*/vendor/automattic/jetpack-password-checker/vendor/symfony/polyfill-mbstring/bootstrap80.php
/jetpack*/vendor/automattic/jetpack-password-checker/vendor/symfony/polyfill-php73/Resources/stubs/JsonException.php
/jetpack*/vendor/automattic/jetpack-password-checker/vendor/sebastian/resource-operations/build/generate.php

# Search Dev Tools
/search/search-dev-tools/src/
/search/search-dev-tools/*.config.js
/search/search-dev-tools/.babelrc.json

# Parse.ly WordPress Integration
/wp-parsely-*/.prettierrc
/wp-parsely-*/bin
/wp-parsely-*/CHANGELOG.md
/wp-parsely-*/init.py
/wp-parsely-*/tests
/wp-parsely-*/phpunit-integration.xml.dist

# JS tests
/__tests__/
