[submodule "vip-dashboard"]
	path = vip-dashboard
	url = git@github.com:Automattic/vip-dashboard.git
[submodule "vip-support"]
	path = vip-support
	url = git@github.com:Automattic/vip-support.git
[submodule "advanced-post-cache"]
	path = advanced-post-cache
	url = git@github.com:Automattic/advanced-post-cache.git
[submodule "jetpack"]
	path = jetpack
	url = git@github.com:Automattic/jetpack.git
[submodule "rewrite-rules-inspector"]
	path = rewrite-rules-inspector
	url = git@github.com:Automattic/rewrite-rules-inspector
[submodule "http-concat"]
	path = http-concat
	url = git@github.com:Automattic/nginx-http-concat.git
[submodule "shared-plugins/fieldmanager"]
	path = shared-plugins/fieldmanager
	url = https://github.com/alleyinteractive/wordpress-fieldmanager.git
[submodule "shared-plugins/livefyre-apps"]
	path = shared-plugins/livefyre-apps
	url = git@github.com:Livefyre/Livefyre-Apps-Wordpress-Plugin.git
[submodule "query-monitor"]
	path = query-monitor
	url = git@github.com:johnbillion/query-monitor.git
[submodule "wp-cron-control"]
	path = wp-cron-control
	url = https://github.com/Automattic/WP-Cron-Control.git
[submodule "shared-plugins/msm-sitemap"]
	path = shared-plugins/msm-sitemap
	url = git@github.com:Automattic/msm-sitemap.git
[submodule "cron-control"]
	path = cron-control
	url = git@github.com:Automattic/Cron-Control.git
[submodule "debug-bar-cron"]
	path = debug-bar-cron
	url = https://github.com/tollmanz/debug-bar-cron.git
