.idea
.DS_Store

# Secrets directory
.secrets

# Secret files
jetpack-private.php

# dev-env related files
/dev-env-plugin.php

# Local PHPDoc configuration file
# overrides phpdoc.dist.xml
phpdoc.xml
phpdoc

# Composer
/vendor/
/output/

# npm
node_modules

# Jetpack dev files
jetpack-*/tools
jetpack-*/bin
