[submodule "vip-dashboard"]
	path = vip-dashboard
	url = https://github.com/Automattic/vip-dashboard.git
[submodule "vip-support"]
	path = vip-support
	url = https://github.com/Automattic/vip-support.git
[submodule "advanced-post-cache"]
	path = advanced-post-cache
	url = https://github.com/Automattic/advanced-post-cache.git
[submodule "rewrite-rules-inspector"]
	path = rewrite-rules-inspector
	url = https://github.com/Automattic/rewrite-rules-inspector
[submodule "http-concat"]
	path = http-concat
	url = https://github.com/Automattic/nginx-http-concat.git
[submodule "cron-control"]
	path = cron-control
	url = https://github.com/Automattic/Cron-Control.git
[submodule "debug-bar-cron"]
	path = debug-bar-cron
	url = https://github.com/tollmanz/debug-bar-cron.git
[submodule "shared-plugins/jetpack-force-2fa"]
	path = shared-plugins/jetpack-force-2fa
	url = https://github.com/Automattic/jetpack-force-2fa.git
[submodule "shared-plugins/two-factor"]
	path = shared-plugins/two-factor
	url = https://github.com/georgestephanis/two-factor.git
[submodule "drop-ins/object-cache"]
	path = drop-ins/object-cache
	url = https://github.com/Automattic/wp-memcached.git
[submodule "lightweight-term-count-update"]
	path = lightweight-term-count-update
	url = https://github.com/Automattic/lightweight-term-count-update
[submodule "gutenberg-ramp"]
	path = gutenberg-ramp
	url = https://github.com/Automattic/gutenberg-ramp.git
[submodule "cron-control-next"]
	path = cron-control-next
	url = https://github.com/Automattic/Cron-Control.git
[submodule "search/elasticpress"]
	path = search/elasticpress
	url = https://github.com/Automattic/ElasticPress.git
[submodule "search/debug-bar-elasticpress"]
	path = search/debug-bar-elasticpress
	url = https://github.com/10up/debug-bar-elasticpress.git
