[submodule "vip-dashboard"]
	path = vip-dashboard
	url = git@github.com:Automattic/vip-dashboard.git
[submodule "vip-support"]
	path = vip-support
	url = git@github.com:Automattic/vipv2-support.git
[submodule "vip-jetpack"]
	path = vip-jetpack
	url = git@github.com:Automattic/vipv2-jetpack.git
[submodule "advanced-post-cache"]
	path = advanced-post-cache
	url = git@github.com:Automattic/advanced-post-cache.git
[submodule "jetpack"]
	path = jetpack
	url = git@github.com:Automattic/jetpack.git
[submodule "rewrite-rules-inspector"]
	path = rewrite-rules-inspector
	url = git@github.com:Automattic/rewrite-rules-inspector
[submodule "shared-plugins/wp-api"]
	path = shared-plugins/wp-api
	url = git@github.com:WP-API/WP-API.git
[submodule "http-concat"]
	path = http-concat
	url = git@github.com:Automattic/nginx-http-concat.git
