<?xml version="1.0"?>
<ruleset name="VIP-Go-mu-plugins">
	<description>Custom ruleset for VIP Go mu-plugins</description>

	<!-- For help in understanding this file: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- For help in using PHPCS: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->

	<!-- What to scan -->
	<file>.</file>

	<!-- Ignoring Files and Folders:
		https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-files-and-folders -->

	<!-- Submodules - these should have their own PHPCS configurations -->
	<exclude-pattern>advanced-post-cache/*</exclude-pattern>
	<exclude-pattern>cron-control/*</exclude-pattern>
	<exclude-pattern>cron-control-next/*</exclude-pattern>
	<exclude-pattern>debug-bar-cron/*</exclude-pattern>
	<exclude-pattern>gutenberg-ramp/*</exclude-pattern>
	<exclude-pattern>http-concat/*</exclude-pattern>
	<exclude-pattern>jetpack/*</exclude-pattern>
	<exclude-pattern>lightweight-term-count-update/*</exclude-pattern>
	<exclude-pattern>query-monitor/*</exclude-pattern>
	<exclude-pattern>rewrite-rules-inspector/*</exclude-pattern>
	<exclude-pattern>vip-dashboard/*</exclude-pattern>
	<exclude-pattern>vip-support/*</exclude-pattern>

	<!-- Other directories -->
	<exclude-pattern>.git/*</exclude-pattern>
	<exclude-pattern>akismet/*</exclude-pattern>
	<exclude-pattern>bin/*</exclude-pattern>
	<exclude-pattern>debug-bar/*</exclude-pattern>
	<exclude-pattern>drop-ins/*</exclude-pattern>
	<exclude-pattern>elasticsearch/elasticpress/*</exclude-pattern>
	<exclude-pattern>elasticsearch/debug-bar-elasticpress/*</exclude-pattern>
	<exclude-pattern>shared-plugins/*</exclude-pattern>
	<exclude-pattern>vaultpress/*</exclude-pattern>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>wordpress-importer/*</exclude-pattern>
	<exclude-pattern>wp-cron-control/*</exclude-pattern>

	<!-- How to scan -->
	<!-- Strip the file paths down to the relevant bit -->
	<arg name="basepath" value="."/>
	<!-- Enables parallel processing when available for faster results. -->
	<arg name="parallel" value="8"/>
	<!-- Limit to PHP files -->
	<arg name="extensions" value="php"/>

	<config name="ignore_warnings_on_exit">true</config>

	<!-- Rules: Check PHP version compatibility - see
		https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP"/>
	<!-- For help in understanding this testVersion:
		https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="7.3-"/>

	<!-- Rules: Check WordPress Coding Standards -->
	<rule ref="WordPress-Core" />
	<rule ref="WordPress-Extra" />

	<!-- Rules: Check VIP Coding Standards - see
		https://github.com/Automattic/VIP-Coding-Standards/ -->
	<rule ref="WordPress-VIP-Go">
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.internal_wpcom_vip_irc"/>
		
		<!-- These disallow anonymous functions as action callbacks -->
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments" />
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />
	</rule>
	
</ruleset>
