<?xml version="1.0"?>
<ruleset name="VIP-Go-mu-plugins">
	<description>Custom ruleset for VIP Go mu-plugins</description>

	<!-- For help in understanding this file: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->
	<!-- For help in using PHPCS: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->

	<!-- What to scan -->
	<file>.</file>

	<!-- Ignoring Files and Folders:
		https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-files-and-folders -->

	<!-- Submodules - these should have their own PHPCS configurations -->
	<exclude-pattern>/advanced-post-cache/*</exclude-pattern>
	<exclude-pattern>/cron-control/*</exclude-pattern>
	<exclude-pattern>/cron-control-next/*</exclude-pattern>
	<exclude-pattern>/debug-bar-cron/*</exclude-pattern>
	<exclude-pattern>/http-concat/*</exclude-pattern>
	<exclude-pattern>/jetpack/*</exclude-pattern>
	<exclude-pattern>/lightweight-term-count-update/*</exclude-pattern>
	<exclude-pattern>/rewrite-rules-inspector/*</exclude-pattern>
	<exclude-pattern>/vip-support/*</exclude-pattern>

	<!-- Other directories -->
	<exclude-pattern>\.git/*</exclude-pattern>
	<exclude-pattern>/akismet/*</exclude-pattern>
	<exclude-pattern>/bin/*</exclude-pattern>
	<exclude-pattern>/debug-bar/*</exclude-pattern>
	<exclude-pattern>/drop-ins/*</exclude-pattern>
	<exclude-pattern>/jetpack-[\d.]+/</exclude-pattern>
	<exclude-pattern>/node_modules/*</exclude-pattern>
	<exclude-pattern>/query-monitor/*</exclude-pattern>
	<exclude-pattern>/search/elasticpress/*</exclude-pattern>
	<exclude-pattern>/search/debug-bar-elasticpress/*</exclude-pattern>
	<exclude-pattern>/search/es-wp-query/*</exclude-pattern>
	<exclude-pattern>/shared-plugins/*</exclude-pattern>
	<exclude-pattern>/vaultpress/*</exclude-pattern>
	<exclude-pattern>/vendor/*</exclude-pattern>
	<exclude-pattern>/wordpress-importer/*</exclude-pattern>
	<exclude-pattern>/wp-cron-control/*</exclude-pattern>
	<exclude-pattern>/wp-parsely-*/*</exclude-pattern>
	<exclude-pattern>*/build/*\.asset\.php</exclude-pattern>

	<!-- How to scan -->
	<!-- Strip the file paths down to the relevant bit -->
	<arg name="basepath" value="."/>
	<!-- Enables parallel processing when available for faster results. -->
	<arg name="parallel" value="8"/>
	<!-- Limit to PHP files -->
	<arg name="extensions" value="php"/>
	<arg value="s"/>

	<!-- Rules: Check PHP version compatibility - see
		https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP"/>
	<!-- For help in understanding this testVersion:
		https://github.com/PHPCompatibility/PHPCompatibility#sniffing-your-code-for-compatibility-with-specific-php-versions -->
	<config name="testVersion" value="7.4-"/>

	<!-- Rules: WordPress Coding Standards - see
		https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<!-- WordPress-Extra includes WordPress-Core -->
	<rule ref="WordPress-Extra"/>
	<!-- For help in understanding these custom sniff properties:
		https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
	<config name="minimum_supported_wp_version" value="5.5"/>

	<!-- Rules: Check VIP Coding Standards - see
		https://github.com/Automattic/VIP-Coding-Standards/ -->
	<rule ref="WordPress-VIP-Go">
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.internal_wpcom_vip_irc"/>

		<!-- These disallow anonymous functions as action callbacks -->
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments" />
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />

		<!-- Allow short array syntax -->
		<exclude name="Generic.Arrays.DisallowShortArraySyntax.Found" />

		<!-- Do not enforce 'class-' prefix -->
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />

		<!-- Allow short ternaries -->
		<exclude name="WordPress.PHP.DisallowShortTernary.Found" />

		<!-- Generates too many false positives -->
		<exclude name="WordPress.WP.CapitalPDangit.Misspelled" />
		<!-- We use trigger_error extensively -->
		<exclude name="WordPress.PHP.DevelopmentFunctions.error_log_trigger_error" />
	</rule>

</ruleset>
