<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	cacheResult="false"
	>
	<testsuites>
		<testsuite name="unit">
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
	<extensions>
		<extension class="SpeedUp_Isolated_WP_Tests"/>
	</extensions>
	<coverage>
		<include>
			<directory suffix=".php">.</directory>
		</include>
		<exclude>
			<directory>jetpack*</directory>
			<directory>wp-parsely*</directory>
			<directory>akismet</directory>
			<directory>vaultpress</directory>
			<directory>tests</directory>
			<directory>vendor</directory>
			<directory>node_modules</directory>
		</exclude>
	</coverage>
</phpunit>
