<script type="text/template" id="nc-article">
    <div>
        <h2><%- model.title %></h2>
        <span class="nc-article-time">Published : <b><%- published_at %></b></span>
        <span class="nc-article-source">Source : <b><%- model.source.name %></b></span>
    </div>
    <div class="nc-on-hover">
        <a href="javascript:;" class="nc-click-to-insert button">
            <img width="17" height="10" src="<%- imageUrl %>/inserticons.png">&nbsp;Click to Insert
        </a>
        <a href="javascript:;" class="nc-remove-article button off">
            <img width="11" height="11" src="<%- imageUrl %>/remove.png"> Click to Remove
        </a>
    </div>
</script>