<script type="text/template" id="nc-article-tooltip">
    <div class="article-tooltip">
        <h2><%- model.title %></h2>

        <p class="nc-top-bottom-border">
            <%- published_at %> by <strong><%- model.source.name %> </strong>
        </p>

        <p class="normal-text"><%- description %></p>
        <% if (model.image_set) { %>
        <p><strong>Attached Images</strong> <span class="attached-image-loading">&nbsp;&nbsp;&nbsp;</span></p>

        <div class="articles-images">
            <div class="images-holder <% if( image_num <= 4 ) { %>no-images<%}%> ">
                <ul>
                    <% _.each( model.image_set,
                    function(image) { %>
                    <li>
                                    <span>
                                        <a href="javascript:;" type="<%- type %>" article="<%- model.guid %>"
                                           guid="<%- image.guid %>" title="Insert into post"
                                           class="nc-insert-to-post-article insert">Insert</a>
                                        <a href="javascript:;" type="<%- type %>" article="<%- model.guid %>"
                                           guid="<%- image.guid %>" title=" Set as a featured"
                                           class="nc-insert-feature-image-article featured">Set as featured</a>
                                    </span>
                        <img src="<%- image.image_large %>?width=95&height=72" alt=""/>
                    </li>

                    <% }
                    );
                    %>
                </ul>
            </div>
            <% if( image_num > 4 ) { %>
            <a href="javascript:;" class="nc-attached-prev" title="Previous" rel="0">&#171;</a>
            <a href="javascript:;" class="nc-attached-next" title="Next" rel="5">&#187;</a>
            <% } %>
        </div>
        <% } %>
    </div>
</script>