<script type="text/template" id="nc-image-tooltip">
    <div class="image-tooltip">
        <img src="<%- model.image_large %>?width=260&amp;height=146" width="260" height="146" class="bimg">

        <p class="img-dimension"><strong>Image dimension in pixel:</strong></p>

        <p>
            <span for="width">Width<input class="wh post_width" type="text" name="" default_value="<%- defaultWidth %>"
                                          actual_value="<%- model.width %>" value="<%- model.width %>" title="Click to Edit"
                                          id="width"></span>
            <span for="height">Height<input class="wh post_height" type="text" name="" default_value="<%- defaultHeight %>"
                                            actual_value="<%- model.height %>" value="<%- model.height %>"
                                            title="Click to Edit" id="height"></span>
        </p>

        <p class="nc-top-bottom-border">
            <span class="nc-article-time">Published: <b><%- published_at %></b></span>
            <span class="nc-article-source">Source:
                <b>
                    <% if( model.attribution_text ){ %>
                    <%- model.attribution_text %>
                    <% }else if ( model.source ){ %>
                    <%- model.source.name %>
                    <% } %>
                </b></span>
        </p>

        <p class="descript"><strong>Descreption:</strong></p>
        <textarea class="image-caption" title="Click to Edit"><%- model.caption %></textarea>

        <p>
            <a href="javascript:;" type="<%- type %>" class="button nc-image-insert-to-post" guid="<%- model.guid %>"
               title="Insert into post"><img width="17" height="10" src="<%- imageUrl %>/inserticons.png"> Insert into post</a>
            <a href="javascript:;" type="<%- type %>" class="button nc-add-feature-image pull-right"
               guid="<%- model.guid %>" title="Set as a featured"><img width="16" height="12"
                                                                       src="<%- imageUrl %>/setf.png"> Set as a featured</a>
        </p>
    </div>
</script>