<script type="text/template" id="nc-metabox">
    <p>
        <input type="text" id="nc-query" name="" class="form-input-tip nc-search-input xsearching"
               placeholder="To search type and hit enter."/>
    </p>

    <div class="auto-suggest-holder">
        <div class="clearfix"></div>
    </div>

    <a href="javascript:;" id="nc-submit" class="button button-primary button-large nc-primary-search">Search</a>

    <div class="btn-group">
        <a href="javascript:;" rel="relevance" class="nc-sortby btn btn-primary active">Sort By Relevance</a>
        <a href="javascript:;" rel="date" class="nc-sortby btn">&nbsp;Sort By Date&nbsp;</a>
    </div>
    <div id="nc-metabox-tabs">
        <ul id="nc-tab-head" class="nav-tab-wrapper nc">
            <li><a href="#article-tab" index="0" class="nav-tab accesskey-settings active">Articles</a></li>
            <li><a href="#image-tab" index="1" class="nav-tab nav-tab article-settings">Images</a></li>
            <li><a href="#myfeed-tab" index="2" class="nav-tab myfeeds-settings">MyFeeds</a></li>
        </ul>
    </div>
</script>
