.gce-page-grid .gce-calendar th{
	padding:0 !important;
}

.gce-page-grid .gce-calendar th abbr,
.gce-widget-grid .gce-calendar th abbr{
	border-bottom:none !important;
}

.gce-page-list .gce-list p{
	margin:0 !important;
}

.gce-page-list .gce-list ul,
.gce-widget-list .gce-list ul{
	margin:0 !important;
	padding:0 !important;
}

.gce-event-info .gce-tooltip-title{
	margin:5px !important;
}

.gce-event-info ul{
	padding:0 !important;
	margin:5px !important;
	list-style-type:none !important;
}