@font-face {
	font-family: 'LivePress-Admin';
	src:url('fonts/LivePress-Admin.eot?-9kyip1');
	src:url('fonts/LivePress-Admin.eot?#iefix-9kyip1') format('embedded-opentype'),
		url('fonts/LivePress-Admin.woff?-9kyip1') format('woff'),
		url('fonts/LivePress-Admin.ttf?-9kyip1') format('truetype'),
		url('fonts/LivePress-Admin.svg?-9kyip1#LivePress-Admin') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'LivePress-Admin';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-remote-authors:before {
	content: "\e600";
}
.icon-play:before {
	content: "\e601";
}
.icon-livepress-logo:before {
	content: "\e602";
}
.icon-people-online:before {
	content: "\e603";
}
.icon-pause:before {
	content: "\e604";
}
