/*
 * VIP Colors
 *
 * https://vip.wordpress.com/vip-brand/#colors
 */

$vip-gold: #c29c69;
$vip-dark-grey: #151e25;
$vip-white: #ffffff;
$vip-blue: #4f748e;
$vip-grey: #62707a;
$vip-grey-1: #a3aFB5;
$vip-grey-2: #d7dee2;
$vip-grey-3: #f3f6f8;

/*
 * Graphite
 */

$graphite:				#3b3e44;
$graphite-var:			#35383d;
$graphite-dark:			#24252b;
$graphite-dark-var:		#2f3136;
$graphite-light:		#67696e;


/*
 * Azure/Blues
 */

$azure:					#168cbf;
$azure-dark:			#0b75a3;
$azure-light:			#25a8dc;

$blue:					#15a7de;
$blue-dark:				#4f748e;
$blue-light:			#98aebd;
$blue-washed:			#edf3f7;

$blue-background:		#f5f8fb;
$blue-border:			#d8e2e9;

/*
 * Essentials
 */

$black:					#000000;
$black-fade:			#2f3136;
$black-forms:			#404040;

$white:					#ffffff;

$grey-light:			#e5e5e5;
$grey-blue:				#c8d7e2;
$grey-blue-fade:		rgba($grey-blue, .55);
$grey-dark:				#151E25;

/*
 * Links
 */

$link-color:			#1a99cf;

/*
 * Graphs
 */

/*$blue: #2ea2cc;
$blue-dark: #0074a2;
$blue-faded: #f2fbff;*/

$graph-blue:			#2dade3;
$graph-orange:			#f5a91c;

$graph-dummy:			#45484f;

$trend-positive:		#7ABC44;
$trend-negative:		#EB5C36;
$trend-neutral:			$grey-dark;


/*
 * Alerts
 */

$alert-yellow:           #f0b849;
$alert-red:              #d94f4f;
$alert-green:            #4ab866;