parameters:
  level: 9
  paths:
    - src/
    - views/
    - wp-parsely.php
    - uninstall.php
  inferPrivatePropertyTypeFromConstructor: true
  ignoreErrors:
    # Uses func_get_args()
    - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
