<html><head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></head>
  <body leftmargin="0" topmargin="0">
    <script>
      var allowed_domains = ['adserver.adtech.de', 'adserver.adtechus.com',
                             'aka-cdn.adtech.de', 'aka-cdn-ns.adtech.de',
                             'pictela.net'];
      try {
        var adtechIframeHashArray = self.document.location.hash.substring(1).split('|ifv|');

        // Parse the url using the browser's engine
        var a = document.createElement( 'a' );
        a.href = adtechIframeHashArray[0];
        var domain = a.hostname;

        for (var d in allowed_domains) {
          if (allowed_domains[d] == domain) {
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.src = adtechIframeHashArray[0];
            document.body.appendChild(s);
            break;
          }
        }
      } catch (e) {}
    </script>
  

</body></html>