#query-monitor-main .qm-hide-operation, #query-monitor-main .qm-hide-group {
	display: none !important;
}

/* TODO: Remove the below after deployment of get_stats() */
#query-monitor-main #object-cache-stats h2 {
	float: left  !important;
	clear: none !important;
	min-width: 150px !important;
	border: 1px solid #eee !important;
	padding: 5px 10px 15px !important;
	text-align: center !important;
	color: #000 !important;
	font-family: georgia,times,serif !important;
	font-size: 28px !important;
	margin: 15px 10px 15px 0 !important;
}

#query-monitor-main #object-cache-stats h2 span {
	font-size: 12px !important;
	text-transform: uppercase !important;
	white-space: nowrap !important;
	display: block !important;
	margin-bottom: 5px !important;
}

#object-cache-stats ul.debug-menu-links,
#object-cache-stats-menu-targets {
	clear: both !important;
}

#query-monitor-main #object-cache-stats h3 {
	font-weight: bold !important;
	font-size: 1rem !important;
	margin: 10px 0 !important;
}

#query-monitor-main .object-cache-stats-menu-target {
	padding: 5px;
}

#query-monitor-main .object-cache-stats-menu-target pre {
	font-family: monospace !important;
	white-space: pre-wrap !important;
	margin: 1rem 0 !important;
}

#object-cache-stats ul.debug-menu-links li {
	float: left !important;
	margin: 0 10px 10px 0 !important;
	background: none !important;
	border: 1px solid #eee !important;
	color: #4b5259 !important;
	list-style: none !important;
	clear: none !important;
}

#object-cache-stats ul.debug-menu-links li:hover {
	border-color: #ddd !important;
}

#object-cache-stats ul.debug-menu-links li a {
	background: none !important;
	color: #4b5259 !important;
	overflow: hidden !important;
	display: block !important;
	padding: 5px 9px !important;
	text-decoration: none !important;
}
