div#livepress-chat-window {
	overflow: hidden;
}

div#livepress-chat-window a {
	text-align: right;
	color: #FFF;
	text-decoration: none;
	float: right;
	width: 10px;
	height: 10px;
}

div#chat-messages {
	height: 200px;
	position: relative;
	background-color: #FFF;
	overflow: auto;
	overflow-x: hidden;
	margin-bottom: 38px;
}

div#chat-messages strong {
	padding-left: 10px;
}

div#chat-messages .shaded {
	background-color: #F2F2F2;
}

#chat-submit {
	float: right;
}
