.CT-hide span.ice-wp-del {
	display: none;
}

.CT-hide span.ice-wp-ins {
	color: #333333;
	background: none !important;
	border: none !important; 
}

span.ice-wp-ins,
span.ice-wp-del {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #000;
	padding: 1px 0 2px;
}

span.ice-wp-ins {
	background-color: #e5ffcd;
}

span.ice-wp-del {
	text-decoration: line-through;
	color: #555;
	background-color: #e8e8e8;
}
