:root {
	--padding-default: 15px;
}

#track-post-types {
	max-width: 550px;
	width: 100%;
}

#track-post-types th,
#track-post-types td {
	display: table-cell;
	padding: var(--padding-default);
	text-align: center;
	vertical-align: middle;
}

#track-post-types td {
	padding: 0; /* Set padding to 0 so labels can take the space */
}

/* Make radio box clickable in whole cell */
#track-post-types td label {
	display: inline-block;
	margin: 0 !important;
	padding-top: var(--padding-default);
	padding-bottom: var(--padding-default);
	width: 100%;
}

@media only screen and (max-width: 380px) {

	#track-post-types th,
	#track-post-types td {
		padding-left: 10px;
		padding-right: 10px;
	}

	#track-post-types th:first-child {
		max-width: 120px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
