<html><body bgcolor=white>
<script language=javascript>
function pq(q) {
        if(q.length > 1) this.q = q.substring(1, q.length);
        else this.q = null;
        this.keyValuePairs = new Array();
        if(q) {
                for(var i=0; i < this.q.split("&").length; i++) {
                        this.keyValuePairs[i] = this.q.split("&")[i];
                }
        }
        this.getValue = function(s) {
                for(var j=0; j < this.keyValuePairs.length; j++) {
                        if(this.keyValuePairs[j].split("=")[0] == s)
                                return this.keyValuePairs[j].split("=")[1];
                }
                return -1;
        }
}
function qs(key){
        var page = new pq(document.location.search);
        var key_unesc = unescape(page.getValue(key));
        return key_unesc.replace(/<[^>]*>?/g, "");
}
var _c = qs('c');
var r_number = Math.random();

var s = document.createElement('script');
s.type = 'text/javascript';
s.src = 'http://media.adcentriconline.com/adcentric/tag/'+_c+'?ADCadcifr=1&number='+r_number;
document.body.appendChild(s);

</script>
</body></html>
