/**
 * Nav
 */
.top-header__menu {
	margin: 0;
	font-size: .9em;
	text-transform: uppercase;
	display: none;

	ul {
		margin: 1.5em 0 0 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		margin: 0 2em 0 0;
	}

	a {
		position: relative;
		padding: 1.125em .25em 1.75em .25em;
		color: rgba($white, .68);
		text-decoration: none;

		&:hover,
		&.active {
			color: rgba($white, 1);
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 0;
			border-bottom: 4px solid rgba($blue, 0);
		}

		&:hover:after,
		&.active:after {
			width: 100%;
			left: 0%;
			border-bottom: 4px solid rgba($blue, 1);
		}
	}
}