.colContainer {
    float: left;
    width: 250px;
    margin-right: 15px;
}
.colContainer .sortable {
    min-height: 125px;
    background: #F6F6F6;
    border: 1px solid #e2e2e2;
}
.colContainer .sortable li {
    border: 1px solid #d3d3d3;
    background: #e6e6e6 url(../images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #555555;
    margin: 8px;
    padding: 5px;
}
.tpOption {
    width: 200px;
}
