/* Widget Contact Form */
.widget__contact-form {
	font-weight: 600;
	color: $vip-grey;

	&.sending {
		animation-duration: .5s;
 		animation-name: sending;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}

	&.form-error {
		animation-duration: 8s;
		animation-name: error;
		animation-iteration-count: 1;
	}

	&.form-success {
		animation-duration: 8s;
		animation-name: success;
		animation-iteration-count: 1;
	}

	label {
		display: inline-block;
		padding: 1em 0;
		font-size: 12px;
		color: $vip-grey;
		vertical-align: top;
	}

	input,
	textarea,
	select,
	label {
		box-sizing: border-box;
	}

	input,
	textarea,
	select {
		width: 100%;
		margin: 0;
		padding: 10px 12px;
		font-size: 13px;
		line-height: 1.5em;
		background: $vip-grey-3;
		border: 1px solid $vip-grey-2;
		font-weight: normal;

		&:focus {
			border-color: $vip-gold;
			box-shadow: 0 0 4px 2px rgba($vip-gold, .3);
		}
	}
	
	textarea {
		resize: vertical;
	}

	select {
		cursor: pointer;
		height: auto;
		background: $vip-grey-3 url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggc3R5bGU9ImZpbGw6I0Q4RTJFOTsiIGQ9Ik0xMy41IDcuMjVsMSAxbC00LjUgNC41bC00LjUtNC41bDEtMWwzLjUgMy41TDEzLjUgNy4yNXoiLz48L3N2Zz4=) no-repeat center right 10px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		font-weight: normal;

		&:hover {
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggc3R5bGU9ImZpbGw6Izk4QUVCRDsiIGQ9Ik0xMy41IDcuMjVsMSAxbC00LjUgNC41bC00LjUtNC41bDEtMWwzLjUgMy41TDEzLjUgNy4yNXoiLz48L3N2Zz4=);
		}

		&:focus {
			background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggc3R5bGU9ImZpbGw6IzQwNDA0MDsiIGQ9Ik0xMy41IDcuMjVsMSAxbC00LjUgNC41bC00LjUtNC41bDEtMWwzLjUgMy41TDEzLjUgNy4yNXoiLz48L3N2Zz4=);
		}
	}

	input[type="submit"] {
		cursor: pointer;
		position: relative;
		width: auto;
		padding: 10px 20px;
		color: $vip-dark-grey;
		background: $vip-white;
		border: 2px solid $vip-gold;
		font-weight: bold;
		outline: none;

		&:hover {
			background: $vip-gold;
		}

		&:active {
			top: 1px;
		}

		&:disabled {
			background: $vip-white;
			color: $vip-grey-2;
			border-color: $vip-grey-2;
		}
	}

	::-webkit-input-placeholder {
	    color: $blue-light;
	}
	:-moz-placeholder {
	   color: $blue-light;
	   opacity:  1;
	}
	::-moz-placeholder {
	   color: $blue-light;
	   opacity:  1;
	}
	:-ms-input-placeholder {
	   color: $blue-light;
	}
}

// Override wp-admin's default styles
@media screen and (max-width: 782px) {
	#wpbody .widget__contact-form select {
		height: auto;
		font-size: 13px;
	}
}

.contact-form__row {
	clear: both;

	&.submit-button {
		padding-top: 12px;
	}
}

.contact-form__label,
.contact-form__input {
	float: left;
	display: block;
	margin-bottom: 8px;
}

.contact-form__label {
	width: 30%;
}

.contact-form__input {
	width: 69.9%;
}

.contact-form__error,
.contact-form__success {
	padding: 10px;
	margin-bottom: 1.3em;
	font-weight: normal;
	border: 1px solid $vip-grey-2;
	color: $vip-grey;
	background: $white;
}

.contact-form__error {
	border-left: 3px solid $alert-red;
}

.contact-form__success {
	border-left: 3px solid $alert-green;
}

@keyframes sending {
	from {
		border-color: $vip-grey-2;
	}
	to {
		border-color: $vip-blue;
	}
}

@keyframes error {
	from {
		border-color: $alert-red;
		background: lighten($alert-red, 41%);
	}
	to {
		border-color: $blue-border;
		background: $white;
	}
}

@keyframes success {
	from {
		border-color: $alert-green;
		background: lighten($alert-green, 47%);
	}
	to {
		border-color: $blue-border;
		background: $white;
	}
}