<html>
<body style="margin:0;padding:0;">
<script type="text/javascript">
    var ut = new Object();
    var ut_ju = "http://ads.undertone.com/aj";

    if(location.search.length > 0) {
        var params = location.search.substr(1).split("&");

        for(i = 0; i < params.length; i++) {
            var pos = params[i].indexOf("=");

            if(pos != -1) {
                var name = unescape(params[i].substr(0, pos));
                var value = unescape(params[i].substr(pos + 1));

                if(name == "ajurl") {
                    ut_ju = value;
                } else {
                    ut[name] = value;
                }
            }
        }
    }
</script>
<script type="text/javascript" src="http://cdn.undertone.com/js/ajs.js"></script>
</body>
</html>