<h2>Error! Please Check Your Amazon Credentials.</h2>
<p>
	There has been an error with your Access Key ID or your Secret Access Key.
	Please check these and then click 'Use These Keys' to reactivate Lift.
</p>
<p>
	You can retrieve your access keys from the <a href="https://portal.aws.amazon.com/gp/aws/securityCredentials" target="_blank">Amazon
		security credentials page</a>.  You can all find this under the My Account dropdown menu when you 
	are logged into the AWS Console.
</p>
<form class="form-block">
	<div class="form-row">
		<label for="accessKey">Access Key ID</label>
		<input type="text" id="accessKey" value="<%- credentials.accessKey %>" />
		<p class="description">example: AKIAJC2Y6SWP4F4IOFZQ</p>
	</div>
	<div class="form-row">
		<label for="secretKey">Secret Access Key</label>
		<input type="text" id="secretKey" value="<%- credentials.secretKey %>" />
		<p class="description">example: bl/UjKudY/uWdsEiBM1RKZ1wuMxjTxPpYTs7K4Y</p>
	</div>
	<div id="errors" class="error" style="display:none;"></div>
	<div class="button-row">
		<input type="button" id="save_credentials" class="button-primary" value="Use These Keys" />
	</div>
</form>