<div class="liftBanner">
	<h1>Lift:Search for Wordpress</h1>
</div>
<div class="grid">
	<div class="col-5-8">
		<div class="grid">
			<div class="col-1-2">
				<h1>Enter a Search Domain Name</h1>
			</div>
			<div class="col-1-2 textright">
				<span class="progressCircle">1</span>
				<span class="progressCircle active">2</span>
				<span class="progressCircle">3</span>
			</div>
		</div>
		<p>
			This must be a unique string to your AWS account. Lift will create the domain
			on AWS for you.  If the domain already exists, Lift will need to apply its
			default schema on top of the existing instance.
		</p>
		<form class="form-block">
			<div class="form-row">
				<label for="domainname">Search Domain Name</label>
				<input type="text" id="domainname" value="<%- domainname %>" />
			</div>
			<div class="form-row">
				<label for="region">Endpoint Region</label>
				<select id="region">
					<option value="us-east-1">US East (Northern Virginia) Region</option>
					<option value="us-west-1">US West (Northern California) Region</option>
					<option value="us-west-2">US West (Oregon) Region</option>
					<option value="eu-west-1">EU (Ireland) Region</option>
					<option value="ap-southeast-1">Asia Pacific (Singapore) Region</option>
				</select>
			</div>
			<div id="errors" class="error" style="display:none;"></div>
			<div class="button-row">
				<input type="button" class="button" id="cancel" value="Cancel" />
				<input type="button" class="button-primary" id="save_domainname" value="Save Domain Name" />
			</div>
		</form>
	</div>
	<div class="col-3-8">
		<div class="aside">
			<h2>About Search Domain Names</h2>
			<p>The domain name string can only contain the following characters:</p>
			<ul class="instructions">
				<li class="a-z">Lowercase a-z</li>
				<li class="numerals">Numerals 0-9</li>
				<li class="hyphen">The hyphen character</li>
			</ul>
			<p>The string has a maximum length of <strong>28 characters</strong>.</p>
		</div>
	</div>
</div>