@import '../style/vars.scss';
@import '../style/mixins.scss';

:global {
	.vip-h2 {
		@include text-h2();
	}
	.vip-h3 {
		@include text-h3();
	}
	.vip-h4 {
		@include text-h4();
	}
	.vip-h5 {
		@include text-h5();
	}
}

:global {
	.search-dev-tools {
		&__wrapper {
			// todo
			margin-top: 40px;
			display: flex;
			justify-content: center;
		}
	}

	.vip-search-dev-tools-ab {
		.ab-item {
			display: none !important;
		}
	}


}

.vip_search_dev_tools {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	// padding: 20px;
	> * {
		// margin-bottom: 20px;
	}

	.main_caption {
		margin-bottom: 4px;
	}
}

.query {
	&_wrap {
		margin-bottom: 20px;
		border-bottom: 1px solid #999999;
		padding: 10px;
		overflow: scroll;
		display: flex;
		flex-flow: row wrap;

		h5 {
			margin-bottom: 10px;
			width: 100%;
		}
	}

	&_pane {
		flex: 0 1 49%;
		width: 49%;
	}
	&_val,
	&_result
	 {
		white-space: pre;
		width: 100%;
		overflow-y: scroll;
		margin-bottom: 20px;
		font-size: 14px;
		background-color: rgba( #eeeeee, 0.4 );
		padding: 20px;
	}
	&_actions {
		margin: 20px 0;
		width: 100%;
		button {
			margin-right: 20px;
		}
	}
}

.ab_btn {
	&::before {
		content: url( '../assets/wpvip.svg' );
		margin-right: 7px;
		height: 31px;
	}
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	border: 0;
	background-color: transparent;
	color: #eee;
}