<% if(errors.length) { %>
<div class="grid">
	<div class="col-1-2">
		<h2>Recent Errors</h2>
	</div>
	<div class="col-1-2 textright">
		<a href="<%= meta.view_all_url %>" class="button-primary">View All Logs</a>
		<input type="button" id="error_logs_clear" class="button" value="Clear Errors"/>
	</div>
</div>
<table class="wp-list-table widefat">
	<thead>
		<tr>
			<th class="column-title">Error</th>
			<th class="column-date">Date/Time</th>
		</tr>
	</thead>
	<tbody>
		<% _.each( errors, function(error) { %>
		<tr>
			<td class="column-title">
				<%= error.error_html %>
			</td>
			<td class="column-date"><%= error.date %></td>
		</tr>
		<% }); %>
	</tbody>
</table>
<% } %>