<div class="liftBanner">
	<h1>Lift:Search for Wordpress</h1>
</div>
<div class="grid">
	<div class="col-1-2">
		<h1>Your domain is being set up!</h1>
	</div>
	<div class="col-1-2 textright">
		<span class="progressCircle">1</span>
		<span class="progressCircle">2</span>
		<span class="progressCircle active">3</span>
	</div>
</div>
<p>If this is a new search domain, it will take approximately 30-40 minutes for it to become active and ready to index your documents.</p>
<div class="progressIndicator">
	<ul>
		<% if (!Created) { %>
		<li class="active"><span>Creating Document Domain</span></li>
		<li><span>Apply Schema And Default Access Policies</span></li>
		<li><span>Process Domain</span></li>
		<li><span>Done</span></li>
		<% } else if( RequiresIndexDocuments ) { %>
		<li class="completed"><span>Document Domain Created</span></li>
		<li class="active"><span>Applying Schema And Default Access Policies</span></li>
		<li><span>Process Domain</span></li>
		<li><span>Done</span></li>
		<% } else if( Processing ) { %>
		<li class="completed"><span>Document Domain Created</span></li>
		<li class="completed"><span>Applied Schema And Default Access Policies</span></li>
		<li class="active"><span>Processing Domain</span></li>
		<li><span>Done</span></li>
		<% } %>
	</ul>
</div>