<div class="grid">
	<div class="col-1-2">
		<h2>Documents to be Synced</h2>
	</div>
	<div class="col-1-2 textright">
		<span>Documents in Queue: <%- meta.found_rows %></span>
	</div>
</div>
<table class="wp-list-table widefat">
	<thead>
		<tr>
			<th class="column-title">Title</th>
			<th class="column-author">Author</th>
			<th class="column-categories">Date Queued</th>
		</tr>
	</thead>
	<tbody>
		<% if(updates.length > 0) { %>
		<% _.each( updates, function(update) { %>
		<tr>
			<td class="column-title"><a href="<%= update.edit_url %>"><%- update.title %></a></td>
			<td class="column-author"><%- update.author_name %></td>
			<td class="column-categories"><%- update.queue_date %></td>
		</tr>
		<% }); %>
		<% } else { %>
		<tr>
			<td colspan="3">No documents are currently queued for updates.</td>
		</tr>
		<% } %>
	</tbody>
</table>

<div class="tablenav bottom">
	<div class="tablenav-pages" id="lift_queue_nav">
	</div>
</div>