.numbers__value {
	display: inline-block;
	margin-bottom: 6px;
	font-size: 44px;
	font-weight: 300;
	line-height: 1em;
	color: $grey-blue;

	&.value-primary {
		color: $graph-blue;
	}
	
	&.value-secondary {
		color: $graph-orange;
	}
}

.numbers__description {
	margin-bottom: 1.15em;
	font-size: 12px;
	font-weight: 400;
	line-height: 1em;
	color: $grey-blue-fade;
	display: block;
}

.numbers__trend {
	position: relative;
	display: inline-block;
	font-size: 12px;
	font-weight: 600;
	line-height: 1em;

	&.trend-positive,
	&.trend-negative,
	&.trend-neutral {
		margin-left: 16px;

		&:before {
			content: "";
			position: absolute;
			top: 2px;
			left: -12px;
			width: 0;
			height: 0;
			border-style: solid;
		}
	}

	&.trend-positive {
		color: $trend-positive;

		&:before {
			border-width: 0 4px 7px 4px;
			border-color: transparent transparent $trend-positive transparent;
		}
	}
	&.trend-negative {
		color: $trend-negative;

		&:before {
			border-width: 7px 4px 0 4px;
			border-color: $trend-negative transparent transparent transparent;
		}
	}
	&.trend-neutral {
		color: $trend-neutral;

		&:before {
			border-width: 4px 0 4px 7px;
			border-color: transparent transparent transparent $trend-neutral;
		}
		&:after {
			content: "";
			position: absolute;
			top: 2px;
			left: -12px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 4px 7px 4px 0;
			border-color: transparent $trend-neutral transparent transparent;
		}
	}

	&.trend-center {

		&.trend-positive,
		&.trend-negative {
			margin-left: 10px;
		}

		&:before {
			bottom: 25%;
			left: 34%;
		}
	}
}


.stats__posts {
	
	.numbers__value {
		color: $graph-blue;
		
	}
}

.stats__comments {
	
	.numbers__value {
		color: $graph-orange;
		
	}
}

.stats__total-posts,
.stats__total-users,
.stats__total-media,
.stats__total-loc {
	position: relative;
	min-width: 180px;

	&:before {
		display: inline-block;
		position: absolute;
		top: 14px;
		left: -24px;
		font-size: 32px;
		font-family: "Genericons";
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		line-height: 1;
		vertical-align: top;
		text-align: center;
		text-decoration: inherit;
		text-transform: none;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		speak: none;
	}
}

.stats__total-posts {

	&:before {
		content: '\f100';
	}
}

.stats__total-users {

	&:before {
		content: '\f304';
	}
}

.stats__total-media {

	&:before {
		content: '\f473';
	}
}

.stats__total-loc {

	&:before {
		content: '\f462';
	}
}