.parsely-recommendations-list-title {
	font-size: 1.2em;
}

.parsely-recommendations-list {
	list-style: none;
	padding: unset;
}

.parsely-recommendations-cardbody {
	overflow: hidden;
	padding: 0.8em;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.parsely-recommendations-cardmedia {
	padding: 0.8em 0.8em 0;
}
