.parsely-recommended-widget,
.parsely-recommended-widget * {
	box-sizing: border-box;
}

.parsely-recommended-widget {
	display: block;
	width: 100%;
}

.parsely-recommended-widget-hidden {
	display: none;
}

.parsely-recommended-widget-entry a {
	padding: 0;
}

.parsely-recommended-widget-entry img {
	float: left;
	margin-right: 15px;
}

.parsely-recommended-widget-entry::after {
	content: "";
	display: table;
	clear: both;
}

.parsely-author {
	display: block;
	margin-top: 5px;
}

.parsely-recommended-widget-title {
	font-size: 1.1em;
	font-weight: 700;
}

.list-horizontal .parsely-recommended-widget-entry {
	border: none;
	display: inline-block;
	min-width: 142.5px;
	margin-bottom: 15px;
	margin-right: 15px;
	max-width: 215px;
	padding: 0;
	vertical-align: text-top;
	width: 45%;
}

.list-horizontal .parsely-recommended-widget-entry img {
	float: none;
	margin-right: 0;
	max-width: 100%;
}

@supports (display: grid) {

	.parsely-recommended-widget-entry::after {
		display: none;
		clear: initial;
	}

	.display-thumbnail .parsely-recommended-widget {
		display: grid;
		grid-template-rows: auto;
		grid-gap: 15px;
		grid-template-columns: minmax(85px, auto) minmax(50%, auto);
	}

	.list-horizontal .parsely-recommended-widget-entry {
		border: none;
		display: block;
		min-width: initial;
		max-width: initial;
		margin: 0;
		padding: 0;
		vertical-align: initial;
		width: initial;
	}

	.display-thumbnail:not(.list-horizontal) .parsely-recommended-widget-entry {
		display: contents;
	}

	.parsely-recommendation-widget:not(.list-horizontal) .parsely-recommended-widget-entry img {
		float: none;
		margin-right: 0;
		max-width: 100%;
	}

	.list-horizontal .parsely-recommended-widget {
		display: grid;
		grid-template-rows: auto;
		grid-gap: 15px;
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}
}
