div.pt-post-article div.pt-align-right {
	float: right;
}

div.pt-post-article div.pt-align-left {
	float: left;
}

div.pt-post-article div.pt-align-center {
	text-align: center;
}

div.pt-post-article:after {
	clear: both;
}