/* @group General Styles */

.diff-added {
	background: #FFC0CB;
}

#livepress-connection {
	position: fixed;
	top: 0;
	display: none;
	background: #FF0;
}

.oortle-diff-inserted-block,
.oortle-diff-inserted {
	display: none;
}

.oortle-diff-removed-block,
.oortle-diff-removed,
.oortle-diff-changed {
}

.oortle-tweet {
	font-family: Georgia, serif;
	font-size: 120%;
	color: #085258;
	border: 2px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-box-shadow: 10px 10px 5px #888;
	border-radius: 8px;
	list-style-type: none;
	margin: 3px;
	padding: 0;
	background-color: #8ADEE2;
	overflow: auto;
	padding: .5em;
	vertical-align: middle;
	background-color: #91E5E7;
}

.oortle-tweet-avatar {
	padding-right: .5em;
	float: left;
}

/* Used to style livepress meta markup in all windows */

.jScrollPaneContainer {
	border: 1px solid #DFDFDF;
}

/*override styles in load-styles.php so we don't need negative margins */
#lp-dashboard .inside, #lp-dashboard .inside p {margin: 0;}
#lp-dashboard .inside { padding: 0; }

.lp-results {
	position: relative;
	overflow: auto;
	height: auto;
}

.lp-comments-hint {
    color: #606060;
    position: relative;
    top: 20px;
    text-align: center;
    width: 100%;
}

.bar-text {
	color: #777;
	text-transform: uppercase;
	font-size: 10px;
}

.bar-number {
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	font-size: 10px;
	background: #286681;
	padding: 2px 3px;
	color: #fff;
	margin-right: 4px;
}

.count-update {
	display: block;
	position: absolute;
	top: 0;
	text-align: center;
	width: 2em;
	background-color: #d54e21;
	color: #fff;
	font-size: 9px;
	font-weight: 600;
	margin: 6px 0 0 2px;
	vertical-align: top;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 26;

	}

.admin-color-light .count-update{
	background-color: #d64e07;
}
.admin-color-blue .count-update{
	background-color: #d54e21;
}
.admin-color-coffee .count-update{
	background-color: #9ea476;
}
.admin-color-ectoplasm .count-update{
	background-color: #d46f15;
}
.admin-color-midnight .count-update{
	 background-color: #69a8bb;
 }
.admin-color-ocean .count-update{
	background-color: #aa9d88;
}
.admin-color-sunrise .count-update{
	background-color: #ccaf0b;
}


.blogging-tools-tabs li {
	position: relative;
}
.blogging-tools-tabs li .count-update {
	right: 3px;
	display: none;
}

/* odd items */
.odd {	background: #f9f9f9;}

/* configure panel area */
.lp-pane .configure {
	border-top: 1px solid #dfdfdf;
	padding: 10px;
	background: #f1f1f1 url(../img/shadow_bottom.png) bottom left repeat-x;
	margin: 0;
}

/* @group Update Area */
#livepress-canvas .update-count {
	padding: 5px;
}

.livepress-meta {
	margin-right: 10px;
	margin-bottom: 15px;
	width: 100%;
	padding: 0;
	padding-left: 5px;
}
.livepress-update-format-newstyle .livepress-meta{
	background-color: #f5f5f5;
	border: 1px solid #dedede;
}


.livepress-update.pinned-first-live-update .livepress-meta > strong,
.livepress-update.pinned-first-live-update .livepress-update-header-timestamp,
.livepress-update.pinned-first-live-update .livepress-update-author,
.livepress-update.pinned-first-live-update .live-update-livetags,
.livepress-update.pinned-first-live-update .live-update-authors {
	display: none;
}

/* Needs #post_content_livepress to be more specialized than #content img */
.livepress-meta img,
#post_content_livepress .livepress-meta img,
body#tinymce .livepress-meta img {
	vertical-align: top;
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 5px;
}
.livepress-meta .wp-caption img,
#post_content_livepress .livepress-meta .wp-caption img,
body#tinymce .livepress-meta .wp-caption img {
    width: auto;
    height: auto;
}

.livepress-update-header,
.livepress-byline,
.livepress-timestamp-option,
.livepress-live-tags,
.lp-authorID {
	display: none;

}

.livepress-update-show-header .livepress-update-header{
	display: block;
}

.livepress-newform  .livepress-update-header{
    position: relative;
    left: inherit;
}

.livepress-update-show-author .livepress-byline,
.livepress-update-show-time .livepress-timestamp-option,
.livepress-update-show-tags .livepress-live-tags{
	display: block;
}

.live-author-gravatar img {
	width: 48px;
	height: 48px;
	padding: 4px;
	clear: both;
}

.livepress-meta .livepress-update-header {
	font-weight: bold;
	margin-left: 5px;
}

.live-update-authors {
	width: 75px;
	font-weight: bold;
	font-style: italic;
	float:left;
}

div.livepress-update-inner-wrapper.lp_avatar_shown{
	margin-left: 80px;
}

div.livepress-update-header > input,
div.livepress-byline > input {
	padding: 5px;
	margin: 1px 0px 1px 0px;
	border: 1px solid #aaa;
	font-family: sans-serif;
	line-height: 18px;
}

div.livepress-live-tags {
	float: left;
	text-align: left;
	width: 40%;
}

div.livepress-byline {
	width: 50%;
	text-align: right;
	margin-bottom: 5px;
	float: right;
}


div.livepress-update-header > input {
	width: 100%;
}

.live-update-livetags {
	margin: 0;
	float: right;
}

.live-update-livetag,
.live-update-tagcontrol {
	margin-right: 6px;
	border: 1px solid #000;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #eee;
	cursor: pointer;
	font-size: .7em;
}

.livepress-meta .livepress-timestamp {
	background-color: #fff;
	border: 1px solid #dedede;
	padding: 1px 5px;
}

.live-update-tag-control {
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	margin-bottom: 15px;
	width: 100%;
	padding: 0;
}

.live-update-tagcontrol.active {
	background-color: #9CCA95;
}

.live-update-tag-title {
	font-size: 12px;
	font-weight: bold;
	margin-right: 10px;
	margin-left: 5px;
	width: 90px;
	float: left;
}

/* live updates main pages (fixes floating issue) */
.livepress-update,
.livepress-old-update {
	display: block;
	clear: both;
	position: relative;
	/*margin-left: 10px !important;*/
	/*margin-right: 10px !important;*/
	padding: 0 0 1px 0;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	z-index: 10;
	margin-bottom: 20px;
}

.lp-bar br {
	display: none;
}

.livepress-update.livepress-has-avatar,
.livepress-old-update.livepress-has-avatar  {
	min-height: 40px;
}

/* remove oembed admin-facing dashicon stuff on frontend */
.livepress-old-update .wpview-wrap .wpview-selection-before,
.livepress-update .wpview-wrap .wpview-selection-before,
.livepress-update .wpview-wrap .wpview-body .toolbar,
.livepress-old-update .wpview-wrap .wpview-body .toolbar{
	display:none;
}

/* Images shouldn't be on the same line as meta header */
.livepress-old-update img, .livepress-update img{
	clear: both;
	display: block;
}

/* @group Inline Tweets */

.lp-inline-tweet {
	float: none;
	overflow: visible;
	position: relative;
	line-height: 30px;
	height: auto;
	clear: both;
	display: block;
	margin: 15px;
	font-family: Georgia, Times, "Times New Roman", serif;
	}
.lp-inline-tweet span.tweet-body {
	float: none;
	padding: 10px 20px;
	font-size: 1.25em;
	color: #333;
	font-style: italic;
	border: 1px solid #ebebeb;
	display: block;
	background: #fff;
	moz-box-shadow: 3px 3px 3px #bcbcbc;
        -webkit-box-shadow: 3px 3px 3px #bcbcbc;
        box-shadow: 3px 3px 3px #bcbcbc;
}
.lp-inline-tweet span.byline {
	margin-top: -1px;
	margin-left: 40px;
	padding-left: 25px;
	display: block;
	background: url(../img/commentbubble_tail.png) top left no-repeat;
	}
.lp-inline-tweet span.author a:link, .lp-inline-tweet span.author a:visited {text-decoration: none;}

.lp-inline-tweet .intents { margin-left: 20px; }
.lp-inline-tweet .intents a, .lp-inline-tweet .intents a:link, .lp-inline-tweet .intents a:visited {
    color: #ababab;
    text-transform: uppercase;
    font-family: Lucida Grande, Verdana, sans-serif;
    font-size: 10px;
    text-decoration: none;
    margin-right: 15px;
}
.lp-inline-tweet .intents a:hover { color: #333; }


/* @end */


/* @end */


/*Dashboard styles*/
#lp-dashboard .inside h3 {
	background: none;
	cursor: auto;
	font-size: 1.25em;
	font-weight: bold;
	padding: 7px 10px;
}


#lp-switch-panel {

}

#lp-hidden-tweets {
	display:none;
}

/* @end */

/* @group Alerts and Errors */

#pausedmsg {
    /*position: absolute;*/
    z-index: 150;
    width: 100%;
    text-align: center;
    font-style: italic;
    background: #fefaca;
    background: rgba(254,248,180, 0.7);
    color: #434343;
    font-size: 10px;
    padding: 2px;
    moz-box-shadow: 0 3px 4px #dedede;
    -webkit-box-shadow: 0 3px 4px #dedede;
    box-shadow: 0 3px 4px #dedede;
}

#post-body-content #pausedmsg {
        border-left: 1px solid #DFDFDF;
}

span.warning {
	display: block;
	text-indent: 20px;
	background: url(../img/warning_icon.png) top left no-repeat;
	font-weight: bold;
}

#lp-pane-errors {
	display: none;
	background-color: #fed7cc;
	margin: 0;
	padding: 3px 0;
	color: #555;
}

#lp-pane-errors p {
	padding: 3px;
	padding-left: 25px;
	margin: 0 !important;
}


x#lp-pane-errors p.lp-pane-error {
	background: url(../img/warning_icon.png) 5px 4px no-repeat;
}

x#lp-pane-errors p.lp-pane-warning {
	background: url(../img/warning_icon.png) 5px 4px no-repeat;
}

#lp-new-tweets {
	background: #C9E5FE;
	font-size: 1.1em;
	font-weight: 900;
	text-align: center;
	padding: 9px;
	position: relative;
	height: 15px;
}

.ie6-warning {
  text-align: justify;
}

.lp-spinner {
	height: 20px;
	margin: auto;
	width: 20px;
	text-indent: -5000px;
	background: url(../img/spinner.gif);
}

#lp-twitter-search-terms .lp-spinner, #lp-autotweet-terms .lp-spinner {
	left: 0;
	position: absolute;
	top: -1px;
}

.comment-item.unapproved {
	background-color: lightyellow;
}


/* @end */

/* @group Header */


/* @group LivePress Global Toggle */
/*hidden state of the editor */
.editor-hidden {
	background:#e9f1fa;
	padding: 10px;
}
.editor-hidden .warning {
	font-weight: normal;
	font-style: italic;
	color: #999;
	line-height: 16px;
	margin: 7px 10px 0 0;
}

/* Toggle/Switch to show and hide the editor */
#live-switcher {
	float: right;
	text-align: center;
	margin: 3px 10px 0 0;
}
#live-switcher.disconnected {
    background: gray url(../img/lp-button-grad-disabled.png) repeat-x;
    color: white;
    text-shadow: none;
    border-color: #111;

}
#live-switcher.connected {
    /*background: green url(../img/lp-button-grad-enabled.png) repeat-x;*/
    background: green repeat-x;
    color: white;
    border-color: #111;
    text-shadow: none;
}
/* @end */

/* @group Global Status Bar */

.inner-lp-dashboard {
	display: none;
}

#bar-controls {
	border-top: 1px solid #D5D5D5;
	border-bottom: 1px solid #D5D5D5;
	padding: 8px 0;
	background: url('../img/white_gradient.jpg') bottom left repeat-x;
}

#bar-controls>span {
	font-size: 1.1em;
	margin-left: 10px;
}

/* @group Footer */

#lp-dashboard #powered-by {
	padding: 12px 5px;
	text-align: center;
	color: #777;
}

#lp-dashboard #powered-by #lp-logo {
	margin: 0 6px 0 3px;
}

/* @end */

/* @group Menu Styles */

/* @group Main Menu */
/* follows WordPress Styles and naming conventions */
#lp-dashboard-panes li.pane {
	margin-bottom: 0;
}
#lp-dashboard-panes .menu-top {
	position: relative;
	line-height:18px;
	min-width:10em;
	font: normal 13px/18px Georgia, "Times New Roman", "Bitstream Charter", Times, serif, FreeSans;
	background: #f1f1f1 url(../img/menu-bits.gif) repeat-x scroll left -379px;
	display: block;
	border-bottom: #dfdfdf 1px solid;
	padding: 0;
}
#lp-dashboard-panes .menu-top:hover {
	cursor: pointer;
}
#lp-dashboard-panes .menu-top.active {
	border: 1px solid #aaaaaa;
	background:#f1f1f1 url(../img/menu-bits.gif) repeat-x scroll top left;
	border-bottom: 0;
	}
/* @end */

/* @group Main Menu Toggle Styles */
/* for the arrow toggle on the right side of main menu items */
#lp-dashboard-panes .wp-menu-toggle {
	width:22px;margin:0 0 0;height:27px;padding:1px 2px 0 0;cursor:default;
	float: right;
	display: block;
	}
#lp-dashboard-panes .menu-top:hover .wp-menu-toggle {
		background:transparent url(../img/menu-bits.gif) no-repeat scroll left -109px;

	}

#lp-dashboard-panes .menu-top.active .wp-menu-toggle {
            background:transparent url(../img/menu-bits.gif) no-repeat scroll left -207px;
}
#lp-dashboard-panes .menu-top a.menuitemlabel {
    display: inline; /* die IE6 */
    display: inline-block;
    line-height:18px;
    padding:6px 5px 4px 20px;
    margin-bottom: 0;
}


/* @end */

/* @group Submenu */
#lp-pane-controls {
	max-width: 269px;
}

#lp-pane-controls .pane-bookmark {
	color: #538BAE;
	cursor: pointer;
	float: left;
	font-family: arial;
	font-size: 1.1em;
	padding: 7px 5px 9px;
}

#lp-pane-controls .pane-bookmark.active {
	background: #EEE;
	border-color: #DFDFDF;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	border-style: solid;
	border-width: 1px 1px 0;
	color: #333;
	padding: 6px 2px 9px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
}
ul#twitter-search-subtabs {
	margin: 0 !important;
	background: #efefef;
	padding: 12px 5px 3px 10px;
	border-bottom: 0;
	}

ul#twitter-search-subtabs .tabs {
	background: #fff;
}

#post-body-content ul#twitter-search-subtabs .tabs {
    border-right: 1px solid #DFDFDF;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}

/* @end */


/* @end */

/* @group General Pane Styles */

#lp-dashboard-panes {
	position: relative;
}

.lp-pane {
	display: none;
}

.lp-pane.lp-pane-active {
	display: block;
	overflow: hidden;
}

#lp-pane-holder {
	position: relative;
	border: none;
	clear: both;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-border-radius: 0;
	overflow: hidden;
}

.lp-pane-active {
	border: 1px solid #aaaaaa;
}

#lp-twitter-results,
#tab-panel-live-comments {
	float: right;
	max-height: 216px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
}

#lp-new-comments-notice {
	margin: 15px;
}

#lp-twitter-results {
	width: 100%;
	margin-left: -185px; /* Width of #live-search-column */
	padding-left: 185px;
}

#tab-panel-live-comments {
	width: 100%;
}

#lp-twitter-results .lp-spinner {
	margin-top: 70px;
}

#post-body-content #lp-twitter-results {
        border-left: 1px solid #DFDFDF;
}

/* @end */

/* @group Tweets and Comments */
.lp-comment-author {
	color: #666;
	font-size: 11px;
	line-height: 1.5em;
	margin: 0 8px 6px 8px;
	padding: 3px 0 0;
}

@media screen and (min-width: 1100px) {
	.lp-comment-author {
		width: 150px;
		float: left;
	}
}

a.lp-comment-link {
	font-weight: normal;
}

a.lp-comment-link:hover {
	text-decoration: underline;
}

.lp-comment-author img.photo {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	vertical-align: middle;
}

@media screen and (min-width: 1100px) {
	.lp-comment-author img.photo {
		float: left;
		width: auto;
		height: auto;
		vertical-align: top;
	}
}

.lp-comment-author a {
	color: #333;
	font-weight: bold;
	text-decoration: none;
}

.lp-comment {
	color: #333;
	padding-right: 8px;
	padding-left: 8px;
}

@media screen and (min-width: 1100px) {
	.lp-comment {
		padding-left: 0;
		padding-right: 15px;
		margin-left: 166px; /* 150px for the author box + 8px each for left/right margins on the author box */
	}
}

.lp-comment p:last-of-type {
	margin-bottom: 0;
}

.lp-comment p:first-of-type {
	margin-top: 0;
}

.comment-item {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid #efefef;
	}

.lp-comment .row-actions {
	font-size: .8em;
}

.lp-tweet-author {
	font-weight: bold;
	line-height: 16px; /* align with avatar */
}

.lp-tweet-date {
	margin-left: 1em;
}

@media screen and (min-width: 1100px) {
	.lp-tweet-author {
		display: block;
	}

	.lp-tweet-date {
		display: block;
		margin-left: 0;
	}
}

#live-search-query {
	width: 100%;
	margin-bottom: .5em;
}

#live-search-column {
	width: 185px;
	float: left;
	position: relative;
	z-index: 10; /* place above #lp-twitter-results, which has default z-index */
	padding: 0 15px;
}

#lp-twitter-search-terms {
	display: block;
}

#lp-tweet-terms {
	padding: 10px;
}

/* @end */



/* @group Guest Blogger Tweets Panel */

#autotweet-blocked h4, .add-autotweet-container h4  {
	font-weight: normal;
	font-style: italic;
	font-size: 10px;
	color: #888;
	margin-bottom: 0;
	}

#remote-authors {
	margin: 15px;
}

#remote-authors .configure {
	float: left;
	width: 60%;
}

#remote-authors .configure .clean {
	margin-top: 50px;
	margin-bottom: 10px;
}

#remote-authors .configure .clean p {
	margin-bottom: 0.5em;
}

#lp-account-list {
	width: 40%;
	float: right;
	margin-top: 0;
}

#lp-account-list li {
	border-bottom: 1px solid #efefef;
	margin-bottom: 0;
	padding: 5px 10px;
	}
.add-autotweet-container .taghint {
	position: absolute;
	margin: 7px 0 2px 20px;
}

#tab-panel-live-notes {
	margin: 15px;
}

/* @end */

/* @group Terms */

.lp-term{
	float: left;
	position: relative;
	margin-right: 15px;
	background: #efefef;
	padding: 2px 10px 2px 6px; /* 10px/6px provides visual balance with close button */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px
}
.lp-term:hover {

	}

.lp-term span{
	float: left;

}

.new-term {
	width: 160px;
	color: #999;
	margin-right: 0;
}

.lp-term-clean-button {
	cursor: pointer;
	float: left;
	margin-right: 3px;
	margin-top: .25em;
	width: 1em;
	height: 1em;
	font-size: 1em;
}

.lp-tweet-clean-button {
	float: right;
	margin-left: 3px;
	cursor: pointer;
	}

.lp-term-clean-button:before {
	height: 1em;
	width: 1em;
	font-size: 1em;

}

a.lp-tweet-clean-button {
	color: #aa0000;
	font-size: 1em;
}

a.lp-tweet-clean-button:hover {
	text-decoration: underline;
}

a.lp-term-clean-button:hover{
	color: #ff0000;
}

.lp-tweet-text,
.lp-term-text {
	font-size: 12px;
}

.lp-tweet-text {
	color: #21759B;
}

.lp-term-cleaner {
	float:right;
	font-size: 10px;
	padding-top: 4px;
}

/* @end */

/* @group Twitter Search Panel */

#lp-search-terms {
	padding: 3px 8px 5px;
}

#lp-search-terms input.ghosted {
	color: #999;
}

#lp-search-terms .term-search-submit {
	border: 1px solid #000;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	color: #333;
	float: left;
	font-size: 10px;
	height: 14px;
	line-height: 14px;
	margin: 1px 1px 1px 3px;
	padding: 3px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* @group Play/Pause */

/* play/pause button for stopping and starting the live twitter search */
/* By default, the twitter search is in "play" mode; showing the pause action */
#lp-tweet-player {
	padding: 0 5px;
	display: inline-block;
  vertical-align: top;
  position: relative;
}

/**
 * When the player is in "pause" mode, show the play action
 */
#lp-tweet-player.paused:before {
	content: "\e601"; /* Play */
}

/* @end */

/* @end */


/**
 * LivePress Admin Bar Status Menu
 */

#wpadminbar .livepress-status-menu p {
	text-shadow: none;
	color: #333;
}
#wpadminbar .livepress-status-menu a {
	text-shadow: none;
}

#wpadminbar .quicklinks .livepress-status-menu ul li .ab-item,
#wpadminbar .quicklinks .livepress-status-menu.hover ul li .ab-item {
	height: auto;
}

#wpadminbar #wp-admin-bar-livepress-status-explanation .hidden {
	display: none;
}

#wpadminbar #wp-admin-bar-livepress-status-explanation,
#wpadminbar #wp-admin-bar-livepress-status-explanation p {
	color: #333;
	text-shadow: none;
}

#wpadminbar #wp-admin-bar-livepress-status-explanation {
	width: 250px;
	padding: 10px;
}

#wpadminbar #wp-admin-bar-livepress-status-explanation a {
	text-shadow: none;
}

#wpadminbar #wp-admin-bar-livepress-status li:hover,
#wpadminbar #wp-admin-bar-livepress-status li.hover {
	background-color: inherit;
}

#wpadminbar #wp-admin-bar-livepress-status li:hover a,
#wpadminbar #wp-admin-bar-livepress-status li.hover a{
	background-color: #eaf2fa;
}

#wpadminbar>#wp-toolbar>#wp-admin-bar-root-default #wp-admin-bar-livepress-status .ab-icon,
#wpadminbar #wp-admin-bar-livepress-status .ab-icon {
	background-image: url("../img/admin-bar-status-sprite.png")!important;
	float: left;
	height: 16px;
	margin-top: 6px;
	position: relative;
	width: 16px;
}

#wpadminbar #wp-admin-bar-livepress-status .ab-icon {
	background-position: -2px -33px;
}

#wpadminbar #wp-admin-bar-livepress-status.disabled .ab-icon {
	background-position: -2px -61px;
}

#wpadminbar #wp-admin-bar-livepress-status.connected .ab-icon {
	background-position: -2px -5px;
}

#wpadminbar #wp-admin-bar-livepress-status:hover .ab-icon,
#wpadminbar #wp-admin-bar-livepress-status.hover .ab-icon {
	background-position: -2px -117px;
}

#wpadminbar #wp-admin-bar-livepress-status:hover.disabled .ab-icon,
#wpadminbar #wp-admin-bar-livepress-status.disabled.hover .ab-icon {
	background-position: -2px -145px;
}

#wpadminbar #wp-admin-bar-livepress-status:hover.connected .ab-icon,
#wpadminbar #wp-admin-bar-livepress-status.connected.hover .ab-icon {
	background-position: -2px -89px;
}

#wp-admin-bar-livepress-status-external.enabled #wp-admin-bar-livepress-enable,
#wp-admin-bar-livepress-status-external.disabled #wp-admin-bar-livepress-disable{
	display: none;
}


/* @group Browser-specific fixes */

/*ie fixes*/
*:first-child+html #lp-search-terms input[type = "text"] {
	/*margin-bottom: 17px; */
}

*:first-child+html #lp-twitter-search-terms .lp-term-cleaner {
	width: 48px;
}

.live-status-circle {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin: 3px 0 0;
	padding: 0;
}

.live-status-enabled {
	background-color: #69ca14;
	border: 1px solid #69ca0f;
}

.live-status-disabled {
	background-color: #cacaca;
	border: 1px solid #999;
}

#merging_posts {
	height: 16px;
	margin: auto;
	width: 100px;
	background: url(../img/spin.gif);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
	font-weight: bold;
	display: none;
}

.now_merging #merging_posts {
	display: inline;
}
.now_merging #confirmation_message {
	display: none;
}
.livepress_admin_warning{
	min-width:825px;
	border:1px solid #000;
	padding:5px;
	margin:15px 0;
	background: #D2442A;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	position:relative;
	overflow:hidden;
	font-size:15px;
}

.livepress_admin_warning .aa_button{
	font-weight:bold;
	border:1px solid #000;
	text-align:center;
	padding:9px 0 8px 0;
	color:#000;
	background:#FECC2F;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
}

.livepress_admin_warning .aa_button:hover {
	text-decoration:none !important;
	background:#FEEE35;
}

.livepress_admin_warning .aa_button_border {
	border:1px solid #999;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
	background:#999;
}
.livepress_admin_warning .aa_button_container {
	cursor:pointer;
	display:inline-block;
	background:#eee;
	padding:5px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-border-radius:2px;
	width:266px;
}
.livepress_admin_warning .aa_description {
	position:absolute;
	top:22px;
	left:285px;
	margin-left:25px;
	color:#fff;
	z-index:1000;
}

.livepress_admin_warning .aa_description a {
	color: #fff;
	text-decoration: underline;
}

#tab-link-live-comments .count-update {
	display: none;
}


/* @end */

/* Plugin specific CSS Fixes */

/* Hide front end addthis buttons on each child post */

.livepress-update .addthis_toolbox {
	display: none;
}

.livepress-live #postdivrich {
	display: none;
}

/* Limit embed widths */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/**
 * HiDPI Graphics
 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	#wpadminbar #wp-admin-bar-livepress-status .ab-icon {
		background-image: url("../img/admin-bar-status-sprite-2x.png");
		background-size: 20px auto;
	}

		.lp-spinner {
			background-image: url(../img/spinner-2x.gif);
			background-size: 20px auto;
		}
}

/*
 * Icon overrides
 * done here so the font style.css can be overwritten if needed.
 * Adjusts baseline.
 */
.icon-livepress-logo:before {
	position: relative;
	top: .1em;
}

