#livepress {
  position: relative;
  font-family: "Lucida Grande";
	whitepsace: nowrap;
}

#livepress .lp-bar {
	width: 100%;
	height: 25px;
	border: #dedede 1px solid;
	background-color: #f5f5f5;
	margin-bottom: 15px;
	/*-webkit-box-shadow: #dedede 3px 3px 3px;
	-moz-box-shadow: #dedede 3px 3px 3px;
	box-shadow: #dedede 3px 3px 3px;*/
}
#livepress .lp-status {
	display: inline-block;
	font-family: Arial;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	background: url(../img/lp-bar.png) no-repeat 5px center;
	height: 25px;
	width: 70px;
	float: left;
	border-right: #dedede 1px solid;
}
#livepress .lp-status.lp-on {
	background-color: #92bd8c;
	padding-left: 37px;
}
#livepress .lp-status span {
	margin-right: 5px;
	line-height: 25px;
}
#livepress .lp-status.lp-off span {
	display: none;
}
#livepress .lp-bar .lp-sprite {
  height: 12px;
  width: 15px;
  float: left;
  margin: 7px -3px 7px 5px;
  opacity: 0.6;
  clear: none;
}
#livepress .lp-bar .lp-sprite.updates {
  background: url(../img/lp-ui-sprite.png) right -12px no-repeat;
}
#livepress .lp-bar .lp-sprite.comments {
  background: url(../img/lp-ui-sprite.png) right 1px no-repeat;
}
#livepress .lp-bar .lp-logo {
  margin: 5px 7px 3px -12px;
  float: left;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

#livepress .lp-updated {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	padding-right: 25px;
	text-align: left;
	z-index: 10;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	float: left;
	padding-left: 10px;
}

#livepress .lp-bar .lp-status-button {
	cursor: pointer;
	background: url(../img/lp-bar-logo.png) left no-repeat;
}

#livepress .lp-bar .lp-counter {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  behavior: url(border-radius.htc);
  height: 16px;
  float: left;
  margin: 5px;
  text-align: center;
  padding: 0 3px;
  min-width: 9px;
}
#livepress .lp-bar .lp-counter.lp-off {
  background: #676767;
}
#livepress .lp-bar .lp-counter.lp-on {
  background: #53c74c;
}
#livepress .lp-bar .lp-counter span {
  font-size: 10px;
  display: block;
  color: white;
  height: 16px;
  line-height: 16px;
}

#lp-update-box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  behavior: url(border-radius.htc);
  min-height: 29px;
  background: #f9f5b8;
  display: inline-block;
  margin-bottom: 10px;
  display: none;
}
#lp-update-box .lp-more-link {
  display: none;
}
#lp-update-box .update-box-content .lp-update-count {
  line-height: 27px;
  padding: 0 10px;
  display: inline-block;
}
#lp-update-box .update-box-content .lp-update-count .lp-update-new-update {
  margin-right: 5px;
}
#lp-update-box .lp-balloon {
  display: inline-block;
  margin: -50px 10px 0 -30px;
  display: block;
  position: absolute;
  min-width: 400px;
  background: #f9f5b8;
  padding: 7px;
  opacity: 0.95;
  -moz-box-shadow: 2px 2px 10px #333333;
  -webkit-box-shadow: 2px 2px 10px #333333;
  box-shadow: 2px 2px 10px #333333;
  z-index: 99999;
}
#lp-update-box .lp-balloon li {
  list-style: none;
}
#lp-update-box .lp-balloon li:first-child {
  padding-right: 25px;
}
#lp-update-box .lp-balloon .lp-new-posts {
  margin: 0;
}
#lp-update-box .lp-balloon abbr.timeago {
  border-bottom: none;
  margin-right: 5px;
  font-style: italic;
}
#lp-update-box .lp-balloon a {
  text-decoration: none;
}
#lp-update-box .lp-balloon .lp-balloon-tail {
  position: absolute;
  height: 15px;
  width: 20px;
  margin: 7px 0 0 40px;
  background: url(../img/lp-balloon-tail.png) no-repeat;
}
#lp-update-box .lp-balloon .lp-close-button {
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 5px;
}

.livepress-update .lp-borders {
  background: none repeat scroll 0 0 #ffffe5;
}

.lp-share-btn {
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none !important;
}

.lp-share-btn span{
  display: inline-block;
  margin-right: 10px;
}

.lp-share{
  position: relative;
  display: block;
}

.lp-pre-update-ui {
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  height: 40px;
  min-width: 120px;
}

.lp-pre-update-ui .lp-pu-ui-feature {
  display: inline;
  padding: 0 5px;
}

.lp-pre-update-ui .lp-pu-ui-feature .lp-pu-ico {
  float: left;
  margin-left: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 2px;
  background: #aaa;
}

.lp-permalink-meta{
  float: left;
  margin: -2px 10px;
}

.lp-permalink-meta span{
  font-size: 0.6em;
}

.lp-permalink-meta input{
  height: 30px;
  width: 140px;
  padding: 0 0.5em;
  font-size: 0.6em;
  margin-right: 10px;
}

/* Icomoon icons */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-ybdxcw');
  src:url('../fonts/icomoon.eot?#iefix-ybdxcw') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-ybdxcw') format('woff'),
    url('../fonts/icomoon.ttf?-ybdxcw') format('truetype'),
    url('../fonts/icomoon.svg?-ybdxcw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*="lp-icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lp-icon-share:before {
  content: "\e600";
}
.lp-icon-facebook:before {
  content: "\e601";
}
.lp-icon-twitter:before {
  content: "\e602";
}
.lp-icon-hyperlink:before {
  content: "\e603";
}

#gritter-notice-wrapper {
  position: absolute;
}
#gritter-notice-wrapper .gritter-close {
  background: url(../images/cross-gritter-ie6.gif);
}

#gritter-notice-wrapper {
  bottom: 3px;
  float: right;
  font-family: Lucida Grande, Tahoma, sans-serif;
  left: 8px;
  line-height: 13px;
  position: fixed;
  text-align: left;
  width: 1px;
  z-index: 99999;
}
#gritter-notice-wrapper .gritter-item {
  color: #777777;
  display: block;
  float: left;
  font-size: 10px;
  margin: 0 0 3px;
  padding-top: 0;
  position: relative;
  width: 337px;
}
#gritter-notice-wrapper .gritter-item a {
  color: #008d00;
}
#gritter-notice-wrapper .gritter-item p {
  clear: both;
  font-family: Georgia, Times, serif;
  font-size: 12px;
  line-height: 150%;
  margin: 5px 0 0;
  padding: 0;
}
#gritter-notice-wrapper .gritter-item.new-post .gritter-top {
  background: url(../img/lp-sprite.png) -1465px top no-repeat;
  height: 18px;
}
#gritter-notice-wrapper .gritter-item.new-post .gritter-bot {
  background: url(../img/lp-sprite.png) -1465px -20px no-repeat;
  height: 32px;
}
#gritter-notice-wrapper .gritter-item.new-post .gritter-inner {
  background: url(../img/lp-sprite.png) -2146px repeat-y;
  color: #777777;
  padding: 0 15px;
}
#gritter-notice-wrapper .gritter-item.new-post p {
  margin: 0;
}
#gritter-notice-wrapper .gritter-item.new-post .gritter-scroll {
  display: none;
}
#gritter-notice-wrapper .gritter-top {
  background: url(../img/lp-sprite.png) -1124px top no-repeat;
  height: 18px;
}
#gritter-notice-wrapper .gritter-bot {
  background: url(../img/lp-sprite.png) -1124px -20px no-repeat;
  height: 32px;
}
#gritter-notice-wrapper .gritter-inner {
  background: url(../img/lp-sprite.png) -1804px repeat-y;
  padding: 0 15px;
  position: relative;
}
#gritter-notice-wrapper .gritter-image {
  float: left;
  margin: 0 7px 0 0;
  height: 30px;
  width: 30px;
}
#gritter-notice-wrapper .gritter-title {
  color: #222222;
  display: block;
  font-size: 13px;
  font-weight: 900;
  margin-bottom: 5px;
  padding: 0;
}
#gritter-notice-wrapper .gritter-title em, #gritter-notice-wrapper .gritter-title em a {
  color: black;
}
#gritter-notice-wrapper .gritter-comments {
  background: black;
  display: block;
  margin: 10px 0 0;
  padding: 5px 10px;
}
#gritter-notice-wrapper .gritter-comments span.comments-text {
  float: right;
}
#gritter-notice-wrapper .gritter-comments a {
  color: #cccccc;
}
#gritter-notice-wrapper .gritter-control {
  display: none;
  position: absolute;
  right: 22px;
  top: -1px;
}
#gritter-notice-wrapper .gritter-control div {
  cursor: pointer;
  float: left;
}
#gritter-notice-wrapper .gritter-scroll {
  background: url(../img/lp-sprite.png) -1197px -56px;
  line-height: 15px;
  margin-right: 4px;
  padding-left: 12px;
}
#gritter-notice-wrapper .gritter-settings {
  background: url(../img/lp-sprite.png) -1172px -57px no-repeat;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  height: 16px;
  padding: 0 4px;
  width: 16px;
}
#gritter-notice-wrapper .gritter-close {
  background: url(../img/lp-sprite.png) -8px -60px no-repeat;
  cursor: pointer;
  height: 10px;
  margin-left: 6px;
  margin-top: 4px;
  width: 10px;
}

#oortle-comment-status {
  margin: 0 5px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	#livepress .lp-status {
		background-image: url(../img/lp-bar-2x.png);
		background-size: 27px auto;
	}

	#livepress .lp-bar .lp-settings-button {
		background-image: url(../img/gear-2x.png);
		background-size: 20px auto;
	}
}