#cws-wp-help-listing {
	width: 250px;
	float: left;
	clear: both;
	margin: 10px 10px 10px 0;
	padding: 10px;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #f4f4f4;
	min-height: 400px;
	}

#cws-wp-help-listing ul li a {
	text-decoration: none;
	}

#cws-wp-help-listing h3 {
	margin: 0;
	padding: 0;
	}

#cws-wp-help-actions {
	padding-bottom: 5px;
	}

#cws-wp-help-actions a {
	text-decoration: none;
	float: right;
	font-size: 12px;
	max-height: 16px;
	font-weight: normal;
	padding: 3px 4px;
	margin-left: 5px;
	right: -5px;
	top: -5px;
	position: relative;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	box-shadow: #ddd 1px 1px 3px;
	}

#cws-wp-help-actions a#cws-wp-help-settings-on {
	float: left;
	left: -5px;
	margin-left: 0;
	}

#cws-wp-help-actions a:hover {
	background: #fafafa;
	border: 1px solid #c5c5c5;
	}

#cws-wp-help-listing ul {
	margin: 5px 5px 5px 15px;
	list-style: circle;
	}

#cws-wp-help-listing > ul {
	margin: 10px 5px 10px 20px;
	}

#cws-wp-help-listing ul ul {
	list-style: square;
	}

#cws-wp-help-document, #cws-wp-help-settings {
	max-width: 600px;
	padding-left: 300px;
	}

#cws-wp-help-document h2 small {
	font-size: 12px;
	font-family: sans-serif;
	color: #888;
	text-shadow: white 0 1px 0;
	}

#cws-wp-help-document h2 small a {
	text-decoration: none;
	}

#cws-wp-help-settings, #cws-wp-help-listing-labels, #cws-wp-help-h2-label-wrap {
	display: none;
	}

#cws-wp-help-settings ul, #cws-wp-help-document ul {
	padding-left: 25px;
	list-style: square;
	}

#cws-wp-help-settings li {
	font-style: italic;
	}

#cws-wp-help-settings-cancel {
	margin-left: 10px;
	}

#cws-wp-help-listing-labels {
	margin-bottom: -10px;
	}

input#cws-wp-help-listing-label {
	font-family: sans-serif;
	font-size: 1.17em;
	font-weight: bold;
	position: relative;
	left: -6px;
	top: -5px;
	border: 1px dashed #dfdfdf;
	width: 258px;
	background: #ffffee;
	}

#cws-wp-help-h2-label-wrap {
	margin-bottom: -4px;
	}

input#cws-wp-help-h2-label {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-size: 23px;
	color: #464646;
	text-shadow: white 0 1px 0;
	line-height: 29px;
	position: relative;
	top: -4px;
	left: -5px;
	margin: 9px 15px 0 0;
	border: 1px dashed #dfdfdf;
	width: 450px;
	background: #ffffee;
	}

input#cws-wp-help-api-url, input#cws-wp-help-slurp-url {
	width: 100%;
	}

#cws-wp-help-slurp-error {
	display: none;
	margin: 5px 0 15px;
	background: #FFEBE8;
	border-color: #CC0000;
	padding: 0 0.6em;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	}

#icon-wp-help {
	background: transparent url( '../images/icon-32.png' ) no-repeat;
	}

.cws-wp-help-placeholder {
	background: #dadada;
	height: 40px;
	padding-left: 17px;
	left: -17px;
	position: relative;
	border: 1px dashed #bbb;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	list-style: none;
	}

#cws-wp-help-listing-wrap {
	/* background: pink; */
	}

#cws-wp-help-listing-wrap ul > li > img.sort-handle, #cws-wp-help-listing-wrap ul > div#cws-wp-help-remote-docs-block > li > img.sort-handle {
	display: none;
	}

#cws-wp-help-listing-wrap ul.ui-sortable li {
	position: relative;
	}

#cws-wp-help-listing-wrap ul.ui-sortable > li.cws-wp-help-local, #cws-wp-help-listing-wrap ul.ui-sortable > div#cws-wp-help-remote-docs-block> li:first-child {
	list-style: none;
	}


#cws-wp-help-listing-wrap ul.ui-sortable > li.cws-wp-help-local > img.sort-handle, #cws-wp-help-listing-wrap ul.ui-sortable > div#cws-wp-help-remote-docs-block> li:first-child > img.sort-handle {
	display: inline;
	position: absolute;
	left: -17px;
	vertical-align: middle;
	}

#cws-wp-help-listing-wrap ul.ui-sortable > li.cws-wp-help-is-slurped > img.sort-handle {
	display: none;
	}

#cws-wp-help-listing-wrap ul.can-sort .sort-handle:hover {
	cursor: move;
	}

#cws-wp-help-loading {
	position: absolute;
	top: 19px;
	left: 27px;
	}