.debug-bar-cron h2.times {
	font-size: 1.7em;
	line-height: 1.1;
}
.debug-bar-cron h2.times span {
	line-height: 150%;
}
.debug-bar-cron h2.times.past,
.debug-bar-cron tr.past td:nth-child(1) {
	color: red;
}
.debug-bar-cron h2.times.past span {
	color: #888;
}
.debug-bar-cron h3 {
	font-family: georgia, times, serif;
	font-size: 22px;
}
.zt-debug-bar-cron-table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #fcfcfc;
	table-layout: auto;
}
.zt-debug-bar-cron-table th,
.zt-debug-bar-cron-table td {
	padding: .3em 2.5em .3em .3em;
	border-top: 1px solid #fcfcfc;
	border-bottom: 1px solid #dfdfdf;
}
.zt-debug-bar-cron-table tbody td {
	vertical-align: top;
}
.zt-debug-bar-cron-table thead,
.zt-debug-bar-cron-table tr:nth-child(2n) {
	background: #fcfcfc;
}

.debug-bar-cron tr.past td:nth-child(1) {
	font-weight: bold;
}

.zt-debug-bar-cron-event-table tr.empty-event {
	border-left: 0.7em solid #ffc04c;
	border-right: 0.7em solid #ffc04c;
	background-color: #fff6e5;
}
.zt-debug-bar-cron-event-table tr.empty-event td:nth-child(1) {
	padding-left: .15em;
}

.zt-debug-bar-cron-event-table thead th.col1 {
	width: 150px !important;
}
.zt-debug-bar-cron-event-table thead th.col2,
.zt-debug-bar-cron-event-table thead th.col3 {
	width: 20%;
}

.zt-debug-bar-cron-schedule-table thead th.col2,
.zt-debug-bar-cron-schedule-table thead th.col3,
.zt-debug-bar-cron-schedule-table thead th.col4,
.zt-debug-bar-cron-event-table thead th.col4 {
	width: 15%;
	max-width: 120px;
	text-align: right;
	padding-right: 30px;
}

.zt-debug-bar-cron-schedule-table td:nth-child(2),
.zt-debug-bar-cron-schedule-table td:nth-child(3),
.zt-debug-bar-cron-schedule-table td:nth-child(4),
.zt-debug-bar-cron-event-table td.intervals {
	text-align: right;
	padding-right: 30px;
}