/* line 1, ../sass/_grid.scss */
.grid { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 3, ../sass/_grid.scss */
.grid:after { content: ""; display: table; clear: both; }
/* line 8, ../sass/_grid.scss */
.grid > div:last-of-type { padding-right: 0; }

/* line 13, ../sass/_grid.scss */
.grid-pad { padding: 20px 0 20px 20px; }

/* line 17, ../sass/_grid.scss */
.col-1-8, .col-1-4, .col-1-3, .col-3-8, .col-1-2, .col-5-8, .col-2-3, .col-3-4, .col-7-8 { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; padding-right: 40px; }

/* line 23, ../sass/_grid.scss */
.col-1-8 { width: 12.5%; }

/* line 24, ../sass/_grid.scss */
.col-1-4 { width: 25%; }

/* line 25, ../sass/_grid.scss */
.col-1-3 { width: 33.33%; }

/* line 26, ../sass/_grid.scss */
.col-3-8 { width: 37.5%; }

/* line 27, ../sass/_grid.scss */
.col-1-2 { width: 50%; }

/* line 28, ../sass/_grid.scss */
.col-5-8 { width: 62.5%; }

/* line 29, ../sass/_grid.scss */
.col-2-3 { width: 66.66%; }

/* line 30, ../sass/_grid.scss */
.col-3-4 { width: 75%; }

/* line 31, ../sass/_grid.scss */
.col-7-8 { width: 87.5%; }

/* line 7, ../sass/admin.scss */
#banneralert { margin-bottom: 10px; }
/* line 9, ../sass/admin.scss */
#banneralert .clr { clear: both; margin: 0; height: 0; font-size: 0; }
/* line 15, ../sass/admin.scss */
#banneralert.lift-colorized { font-family: arial,sans-serif; padding: 12px; border: 1px #8bcce4 solid; background: #b3e2f3; /* Old browsers */ background: -moz-linear-gradient(top, #b3e2f3 59%, white 94%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(59%, #b3e2f3), color-stop(94%, white)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #b3e2f3 59%, white 94%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #b3e2f3 59%, white 94%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #b3e2f3 59%, white 94%); /* IE10+ */ background: linear-gradient(to bottom, #b3e2f3 59%, #ffffff 94%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3e2f3',endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ /* radii */ -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
/* line 26, ../sass/admin.scss */
#banneralert .lift-message { width: 75%; font-weight: normal; text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px; color: #056d94; font-size: 18px; line-height: 24px; }
/* line 35, ../sass/admin.scss */
#banneralert .lift-balloon { float: right; }

/* line 44, ../sass/admin.scss */
.form-block label { display: block; }
/* line 48, ../sass/admin.scss */
.form-block input[type="text"], .form-block input[type="search"] { width: 100%; }

/* line 52, ../sass/admin.scss */
.form-row { margin-bottom: 20px; }

/* line 55, ../sass/admin.scss */
.button-row { text-align: center; margin-top: 40px; }

/* line 59, ../sass/admin.scss */
#lift-ajax-loader p { background-image: url("../img/loader.gif"); background-repeat: no-repeat; background-size: 24px 24px; display: inline-block; height: 24px; line-height: 24px; padding-left: 29px; }

/* line 72, ../sass/admin.scss */
.lift-admin h1, .lift-admin h2 { font-weight: normal; line-height: 1.2; margin-top: 0; }
/* line 77, ../sass/admin.scss */
.lift-admin h2 { font-size: 18px; }
/* line 80, ../sass/admin.scss */
.lift-admin .button-primary { background: #2992c1; }
/* line 83, ../sass/admin.scss */
.lift-admin .liftBanner { height: 140px; width: 100%; position: relative; margin-bottom: 20px; *zoom: 1; filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0075A8', endColorstr='#FF00A5E5'); background-color: #00a5e5; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0075a8), color-stop(100%, #00a5e5)); background-image: -webkit-linear-gradient(#0075a8, #00a5e5); background-image: -moz-linear-gradient(#0075a8, #00a5e5); background-image: -o-linear-gradient(#0075a8, #00a5e5); background-image: linear-gradient(#0075a8, #00a5e5); }
/* line 91, ../sass/admin.scss */
.lift-admin .liftBanner h1 { text-indent: -119988px; overflow: hidden; text-align: left; position: absolute; top: 16px; left: 16px; width: 102px; height: 56px; background: transparent url("../img/logo-102x56.png") no-repeat; }
/* line 100, ../sass/admin.scss */
.lift-admin .liftBanner:before, .lift-admin .liftBanner:after { content: ''; display: block; position: absolute; bottom: 0; }
/* line 106, ../sass/admin.scss */
.lift-admin .liftBanner:before { background: transparent url("../img/cloud1.png") no-repeat bottom left; width: 591px; height: 119px; left: -1px; }
/* line 112, ../sass/admin.scss */
.lift-admin .liftBanner:after { background: transparent url("../img/cloud2.png") no-repeat bottom right; width: 514px; height: 117px; right: -1px; }
/* line 119, ../sass/admin.scss */
.lift-admin .progressCircle { display: inline-block; width: 40px; height: 40px; text-align: center; color: #fff; font-weight: bold; font-size: 1.5em; line-height: 44px; background-color: #ccc; border-radius: 50%; margin: 0 0 0 20px; }
/* line 131, ../sass/admin.scss */
.lift-admin .progressCircle.active { background-color: #00adef; }
/* line 135, ../sass/admin.scss */
.lift-admin .progressIndicator { display: table; width: 100%; margin: 20px 0; }
/* line 139, ../sass/admin.scss */
.lift-admin .progressIndicator ul { display: table-row; }
/* line 142, ../sass/admin.scss */
.lift-admin .progressIndicator li { display: table-cell; height: 46px; vertical-align: middle; background-color: #e6e6e6; text-align: center; }
/* line 148, ../sass/admin.scss */
.lift-admin .progressIndicator li span { padding: 0 5px; position: relative; z-index: 3; }
/* line 153, ../sass/admin.scss */
.lift-admin .progressIndicator li.completed { background-color: #003964; color: #fff; }
/* line 157, ../sass/admin.scss */
.lift-admin .progressIndicator li.active { background-color: #00adef; color: #fff; overflow: hidden; }
/* line 161, ../sass/admin.scss */
.lift-admin .progressIndicator li.active span { display: block; padding: 0 23px; z-index: 2; }
/* line 165, ../sass/admin.scss */
.lift-admin .progressIndicator li.active span:before, .lift-admin .progressIndicator li.active span:after { content: ''; display: block; width: 0; height: 0; border: 46px solid transparent; position: absolute; top: 50%; margin-top: -46px; }
/* line 175, ../sass/admin.scss */
.lift-admin .progressIndicator li.active span:before { border-left-color: #003964; left: 0; margin-left: -23px; }
/* line 180, ../sass/admin.scss */
.lift-admin .progressIndicator li.active span:after { border-top-color: #e6e6e6; border-bottom-color: #e6e6e6; margin-right: -46px; right: 0; }
/* line 190, ../sass/admin.scss */
.lift-admin select { vertical-align: middle; }
/* line 193, ../sass/admin.scss */
.lift-admin .aside { background: #f2f2f2; padding: 10px 20px; }
/* line 197, ../sass/admin.scss */
.lift-admin ul.instructions { list-style: none; margin: 20px 0; padding: 0; }
/* line 201, ../sass/admin.scss */
.lift-admin ul.instructions li { padding: 0 0 0 80px; background: transparent none no-repeat left top; margin: 0 0 20px; }
/* line 206, ../sass/admin.scss */
.lift-admin ul.instructions .webServices { background-image: url("../img/blue-box.png"); min-height: 60px; }
/* line 210, ../sass/admin.scss */
.lift-admin ul.instructions .documentation { background-image: url("../img/documentation.png"); min-height: 90px; }
/* line 214, ../sass/admin.scss */
.lift-admin ul.instructions .cloudSearch { background-image: url("../img/amazon-cloud-search.png"); min-height: 80px; }
/* line 218, ../sass/admin.scss */
.lift-admin ul.instructions .a-z { background-image: url("../img/a-z.png"); }
/* line 221, ../sass/admin.scss */
.lift-admin ul.instructions .numerals { background-image: url("../img/0-9.png"); }
/* line 224, ../sass/admin.scss */
.lift-admin ul.instructions .hyphen { background-image: url("../img/hyphen.png"); }
/* line 227, ../sass/admin.scss */
.lift-admin ul.instructions .a-z, .lift-admin ul.instructions .numerals, .lift-admin ul.instructions .hyphen { min-height: 60px; line-height: 60px; }
/* line 232, ../sass/admin.scss */
.lift-admin .dashboard-box { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: table; width: 100%; border: 1px solid #e6e6e6; border-radius: 5px; margin: 20px 0; padding: 10px; }
/* line 240, ../sass/admin.scss */
.lift-admin .dashboard-box .grid { display: table-row; }
/* line 242, ../sass/admin.scss */
.lift-admin .dashboard-box .grid [class*='col-'] { display: table-cell; float: none; vertical-align: middle; }
/* line 246, ../sass/admin.scss */
.lift-admin .dashboard-box .grid [class*='col-'] [class*='col-'] { display: block; float: left; }
/* line 252, ../sass/admin.scss */
.lift-admin .dashboard-box .lift-status { width: 50px; height: 50px; line-height: 50px; text-align: center; color: #fff; border-radius: 50%; background-color: #666; }
/* line 260, ../sass/admin.scss */
.lift-admin .dashboard-box .lift-status.good { background-color: #39b54a; }
/* line 263, ../sass/admin.scss */
.lift-admin .dashboard-box .lift-status.bad { background-color: #b53939; }
/* line 269, ../sass/admin.scss */
.lift-admin table { border: 0px none; background: #fff; }
/* line 274, ../sass/admin.scss */
.lift-admin table thead tr th { background: #009dda; color: #fff; font-family: Arial, Helvetica, sans-serif; text-shadow: none; }
/* line 279, ../sass/admin.scss */
.lift-admin table thead tr th:first-of-type { border-top-left-radius: 5px; }
/* line 282, ../sass/admin.scss */
.lift-admin table thead tr th:last-of-type { border-top-right-radius: 5px; }
/* line 290, ../sass/admin.scss */
.lift-admin table tbody tr:nth-of-type(even) { background-color: #f2f2f2; }
/* line 294, ../sass/admin.scss */
.lift-admin table tbody tr:last-of-type td { border-bottom: 1px solid #e6e6e6; }
/* line 296, ../sass/admin.scss */
.lift-admin table tbody tr:last-of-type td:first-of-type { border-bottom-left-radius: 5px; }
/* line 299, ../sass/admin.scss */
.lift-admin table tbody tr:last-of-type td:last-of-type { border-bottom-right-radius: 5px; }
/* line 304, ../sass/admin.scss */
.lift-admin table tbody tr td { border: 0px none; padding: 6px 7px 4px; }
/* line 307, ../sass/admin.scss */
.lift-admin table tbody tr td:first-of-type { border-left: 1px solid #e6e6e6; }
/* line 310, ../sass/admin.scss */
.lift-admin table tbody tr td:last-of-type { border-right: 1px solid #e6e6e6; }
/* line 313, ../sass/admin.scss */
.lift-admin table tbody tr td.column-title { font-style: italic; color: #999; }
/* line 316, ../sass/admin.scss */
.lift-admin table tbody tr td.column-title strong, .lift-admin table tbody tr td.column-title p { font-style: normal; color: #555; }
/* line 320, ../sass/admin.scss */
.lift-admin table tbody tr td.column-title hr { border: 0px none; height: 1px; background: #aaa; }
/* line 330, ../sass/admin.scss */
.lift-admin .toggle { display: inline-block; margin: 0 20px; }
/* line 334, ../sass/admin.scss */
.multiplebgs .lift-admin .toggle { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 6em; height: 2em; position: relative; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); vertical-align: middle; }
/* line 344, ../sass/admin.scss */
.multiplebgs .lift-admin .toggle:before, .multiplebgs .lift-admin .toggle:after { position: absolute; top: 0; width: 50%; height: 100%; line-height: 2em; text-align: center; color: #fff; font-weight: bold; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25); box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.75); z-index: 0; }
/* line 357, ../sass/admin.scss */
.multiplebgs .lift-admin .toggle:before { content: 'off'; left: 0; background: #b53939; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -ms-border-radius: 5px 0 0 5px; -o-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; }
/* line 363, ../sass/admin.scss */
.multiplebgs .lift-admin .toggle:after { content: 'on'; right: 0; background: #39b54a; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; }
/* line 369, ../sass/admin.scss */
.multiplebgs .lift-admin .toggle .switch { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; position: absolute; cursor: pointer; top: -10%; right: -2%; width: 54%; height: 120%; background: #f2f2f2; box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5); z-index: 1; border-radius: 5px; -webkit-transition-property: right; -moz-transition-property: right; -o-transition-property: right; transition-property: right; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(20%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(80%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.35))); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 20%), -webkit-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.35) 100%); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 20%), -moz-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.35) 100%); background-image: -o-linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 20%), -o-linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.35) 100%); background-image: linear-gradient(rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 20%), linear-gradient(rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.35) 100%); }
/* line 385, ../sass/admin.scss */
.multiplebgs .lift-admin .toggle input[type="checkbox"] { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; cursor: pointer; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 2; }
/* line 394, ../sass/admin.scss */
.multiplebgs .lift-admin .toggle input[type="checkbox"]:checked + .switch { right: 48%; }

/* line 400, ../sass/admin.scss */
#error_log { margin-top: 40px; }

/* line 405, ../sass/admin.scss */
div.lift_modal { display: none; z-index: 1000; position: fixed; top: 0; left: 0; }
/* line 411, ../sass/admin.scss */
div.lift_modal .modal_overlay { position: fixed; width: 100%; height: 100%; background-color: #000; opacity: .5; z-index: 1000; }
/* line 419, ../sass/admin.scss */
div.lift_modal .modal_wrapper { position: fixed; top: 25%; width: 100%; z-index: 1001; }
/* line 425, ../sass/admin.scss */
div.lift_modal .modal_content { width: 500px; position: relative; margin: 0 auto; padding: 20px; background-color: #f2f2f2; }
