/* line 3, ../sass/style.scss */
.no-js .hide-no-js, .js .hide-js { display: none; }

/* line 9, ../sass/style.scss */
.lift-search-form-filters ul.expanded .hide-collapsed { display: block; }
/* line 10, ../sass/style.scss */
.lift-search-form-filters ul.expanded .hide-expanded { display: none; }
/* line 12, ../sass/style.scss */
.lift-search-form-filters ul > li { border-bottom: 1px dotted #ededed; }
/* line 17, ../sass/style.scss */
.lift-search-form-filters li.selected { font-weight: bold; }
/* line 20, ../sass/style.scss */
.lift-search-form-filters li.hide-collapsed { display: none; }
/* line 23, ../sass/style.scss */
.lift-search-form-filters li.hide-expanded { display: block; }
/* line 26, ../sass/style.scss */
.lift-search-form-filters li.lift-filter-collapse, .lift-search-form-filters li.lift-filter-expand { background: rgba(0, 0, 0, 0.05); text-align: center; -webkit-transition: background, 0.25s; -moz-transition: background, 0.25s; -ms-transition: background, 0.25s; -o-transition: background, 0.25s; transition: background, 0.25s; }
/* line 30, ../sass/style.scss */
.lift-search-form-filters li.lift-filter-collapse:hover, .lift-search-form-filters li.lift-filter-expand:hover { background: rgba(0, 0, 0, 0.1); }
/* line 34, ../sass/style.scss */
.lift-search-form-filters li div { font-weight: bold; }
/* line 37, ../sass/style.scss */
.lift-search-form-filters li.reset { padding: 0.25em 0; }
/* line 39, ../sass/style.scss */
.lift-search-form-filters li.reset a { font-size: 0.8275em; color: #333; display: inline-block; background: rgba(0, 0, 0, 0.05); border-radius: .25em; padding: 0 4% 0 3%; border: 1px solid #d2d2d2; -webkit-transition: background, 0.25s; -moz-transition: background, 0.25s; -ms-transition: background, 0.25s; -o-transition: background, 0.25s; transition: background, 0.25s; }
/* line 48, ../sass/style.scss */
.lift-search-form-filters li.reset a:before { content: 'x '; }
/* line 51, ../sass/style.scss */
.lift-search-form-filters li.reset a:hover { background: rgba(0, 0, 0, 0.1); }
/* line 54, ../sass/style.scss */
.lift-search-form-filters li.reset a:active { -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px; -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px; box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px; }
/* line 60, ../sass/style.scss */
.lift-search-form-filters a { text-decoration: none; }
