<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
<title>Xaxis</title>
</head>
<body>
<script>
var server = '',
  script = '',
  value = '',
  division = '',
  doc = document;
doc.location.search.substr(1).replace(/([^?=&]+)(=([^&]*))?/g, function (t, key, i, value) {
  if (key == 'version') version = value;
  if (key == 'server') server = value;
});
if (server && server.length > 0) {
  division = server.match(/^(http[s]?):\/?\/?((([^\.:\/\s]*\.?)*)\.([^\.:\/\s]+\.[^\.:\/\s]+)):?([0-9]+)?([\/\w\.+]*\/?)?\??([\w\-\.]+[^#?\s]+)?\??[^#]*#?([\w\-]+)?$/i);
  script = '<scr' + 'ipt src="' + division[1] + '://' + division[3] + '.' + division[5] + division[7] + 'InfinityProcessor_' + version + '.js' + '"></scr' + 'ipt>'; 
  if ((division[5] == '247realmedia.com' || division[5] == 'realmedia.com') && evaluate(version)) doc.write(script); 
}
function evaluate(string) {
 /* evaluate string for number, uppercase, lowercase, and underscore only */
  var valid = /^\w+$/.test(string);
  return (string.length <= 5 && valid);
}
</script>
</body>
</html>
