<html><head><script type="text/javascript">

// Validation routine for parameters passed on the URL.
// The parameter should contain only word characters including underscore (limited to '\w')
// and should not exceed 15 characters in length.
function isValid(stringValue) {
	var isValid = false;
	if(stringValue.length <= 15 && stringValue.search(new RegExp("[^A-Za-z0-9_\-]")) == -1)
		isValid = true;
	return isValid;
}

var subdomain = 'swf';
var params = location.search.substring(1).split('&');
for (var i=0; i<params.length; i++) {
	var pair = params[i].split('=');
	if (pair.length == 2 && pair[0] == 'subdomain' && isValid(pair[1])) {
		subdomain = pair[1];
	}
}

document.write('<script type="text/javascript" src="//' + subdomain + '.mixpo.com/js/bust.js"><\/script>');
</script></head></html>
