name: CI

on:
  push:
    branches-ignore:
      - develop
      - staging
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  unit-tests:
    name: "WP ${{ matrix.config.wp }}, multisite: ${{ matrix.config.ms }}, JP: ${{ matrix.config.jp }}, PHP: ${{ matrix.config.php }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
        # Jetpack, Single-Site, PHP 7.4
          - { wp: 5.7.x,   ms: 'no',  jp: 'yes', php: '7.4', phpunit: 7 }
          - { wp: 5.8.x,   ms: 'no',  jp: 'yes', php: '7.4', phpunit: 7 }
          - { wp: 5.9.x,   ms: 'no',  jp: 'yes', php: '7.4', phpunit: 7 }
          - { wp: latest,  ms: 'no',  jp: 'yes', php: '7.4', phpunit: 7 }
          - { wp: nightly, ms: 'no',  jp: 'yes', php: '7.4', phpunit: 7 }
        # Jetpack, Multi-Site, PHP 7.4
          - { wp: latest,  ms: 'yes', jp: 'yes', php: '7.4', phpunit: 7 }
          - { wp: nightly, ms: 'yes', jp: 'yes', php: '7.4', phpunit: 7 }
        # No Jetpack, WP latest, PHP 7.4
          - { wp: latest,  ms: 'no',  jp: 'no',  php: '7.4', phpunit: 7 }
          - { wp: latest,  ms: 'yes', jp: 'no',  php: '7.4', phpunit: 7 }
        # PHP 8.0, Jetpack
          - { wp: latest,  ms: 'no',  jp: 'yes', php: '8.0', phpunit: '', coverage: 'yes' }
          - { wp: latest,  ms: 'yes', jp: 'yes', php: '8.0', phpunit: '', coverage: 'yes' }
          - { wp: nightly, ms: 'no',  jp: 'yes', php: '8.0', phpunit: '' }
          - { wp: nightly, ms: 'yes', jp: 'yes', php: '8.0', phpunit: '' }
        # PHP 8.1, Jetpack
          - { wp: latest,  ms: 'no',  jp: 'yes', php: '8.1', phpunit: '' }
          - { wp: latest,  ms: 'yes', jp: 'yes', php: '8.1', phpunit: '' }
        # PHP 8.2, Jetpack
          - { wp: latest,  ms: 'no',  jp: 'yes', php: '8.2', phpunit: '' }
          - { wp: latest,  ms: 'yes', jp: 'yes', php: '8.2', phpunit: '' }
    services:
      mysql:
        image: ghcr.io/automattic/vip-container-images/mariadb-lite:10.3
        ports:
          - "3306:3306"
        env:
          MYSQL_ROOT_PASSWORD: wordpress
          MARIADB_INITDB_SKIP_TZINFO: 1
          MYSQL_USER: wordpress
          MYSQL_PASSWORD: wordpress
          MYSQL_DATABASE: wordpress_test
    steps:
      - name: Check out source code
        uses: actions/checkout@v3.0.2
        with:
          submodules: recursive

      - name: Run tests
        uses: ./.github/actions/run-wp-tests
        with:
          wordpress: ${{ matrix.config.wp }}
          multisite: ${{ matrix.config.ms }}
          jetpack: ${{ matrix.config.jp }}
          php: ${{ matrix.config.php }}
          phpunit: ${{ matrix.config.phpunit }}
          coverage: ${{ matrix.config.coverage }}

  wp-core:
    name: "Run WP Core Tests (WordPress ${{ matrix.wp }}, multisite: ${{ matrix.multisite }})"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        wp:
          - latest
        multisite:
          - "no"
          - "yes"
    steps:
      - name: Check out source code
        uses: actions/checkout@v3.0.2
        with:
          submodules: recursive

      - name: Run tests
        run: |
          if [ "${{ matrix.multisite }}" = "yes" ]; then
            MULTISITE=1
          else
            MULTISITE=0
          fi
          ./bin/run-core-tests.sh --wp ${{ matrix.wp }} --multisite ${MULTISITE}

  search-dev-tools:
    name: Build Search Dev Tools
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out source code
        uses: actions/checkout@v3.0.2
        with:
          token: ${{ secrets.WPCOM_VIP_BOT_TOKEN }}

      - name: Setup Node
        uses: actions/setup-node@v3.4.1
        with:
          node-version: 'lts/*'
          cache: npm
          cache-dependency-path: search/search-dev-tools/package-lock.json

      - name: Install dependencies
        run: npm ci --ignore-scripts
        working-directory: search/search-dev-tools

      - name: Build files
        run: npm run build
        working-directory: search/search-dev-tools

      - name: Check the diff
        run: |
          if [ "$(git diff --ignore-space-at-eol search/search-dev-tools/ | wc -l)" -gt "0" ]; then
            echo "::warning::There are changes in the built files."
            if [ "${{ github.event.head_commit.committer.email }}" != "no-reply@automattic.com" ]; then
              git config user.name "WordPress VIP Bot"
              git config user.email no-reply@automattic.com
              git config push.default "current"
              git add search/search-dev-tools/
              git commit -m "Regenerate the bundle"
              git push
            else
              echo "::error::Aborting to avoid the loop."
              exit 1
            fi
          fi
        env:
          GH_TOKEN: ${{ secrets.WPCOM_VIP_BOT_TOKEN }}
