name: Run e2e tests
on:
  pull_request:
  workflow_dispatch:
    inputs:
      wpversion:
        description: 'WordPress version to run tests against'
        required: false
        default: 'latest'
      url:
        description: 'Alternative Test URL'
        required: false
        default: ''
      user:
        description: 'Alternative User Name'
        required: false
        default: ''
      password:
        description: 'Alternative Password'
        required: false
        default: ''

permissions:
  contents: read

jobs:
  Run_e2e_tests:
    name: Run E2E Tests
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@bdb12b622a910dfdc99a31fdfe6f45a16bc287a4 # tag=v1.4.0
        with:
          egress-policy: block
          allowed-endpoints: 
            1.gravatar.com:80
            2.gravatar.com:80
            api.github.com:443
            api.wordpress.org:443
            artifactcache.actions.githubusercontent.com:443
            auth.docker.io:443
            codeload.github.com:443
            dl-cdn.alpinelinux.org:443
            dl-cdn.alpinelinux.org:80
            downloads.wordpress.org:443
            frsnacprodeus2file1.blob.core.windows.net:443
            ghcr.io:443
            github.com:443
            nodejs.org:443
            pkg-containers.githubusercontent.com:443
            planet.wordpress.org:443
            playwright.azureedge.net:443
            production.cloudflare.docker.com:443
            public-api.wordpress.com:443
            registry-1.docker.io:443
            registry.npmjs.org:443
            s.w.org:443
            vaultpress.com:443
            wordpress.org:443
            dns.google:53
            e2e-test-site.vipdev.lndo.site:80

      - name: Check out repository code
        uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # renovate: tag=v2.4.0
        with:
          submodules: true
          path: vip-go-mu-plugins

      - name: Setup Node
        uses: actions/setup-node@1f8c6b94b26d0feae1e387ca63ccbdc44d27b561 # renovate: tag=v2.5.1
        with:
          node-version: 'lts/*'
          cache: npm
          cache-dependency-path: vip-go-mu-plugins/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: vip-go-mu-plugins

      - name: Install VIP CLI
        run: npm install --prefix=$HOME/.local -g @automattic/vip

      - name: Determine WP version
        id: wpver
        run: |
          if [ -z "${{ github.event.inputs.wpversion }}" ]; then
            echo ::set-output name=wpversion::latest
          else
            echo ::set-output name=wpversion::${{ github.event.inputs.wpversion }}
          fi

      - name: Setup test environment
        if: ${{ github.event.inputs.url == '' }}
        run: npm run setup-e2e-env -- -v ${{ steps.wpver.outputs.wpversion }}
        working-directory: vip-go-mu-plugins

      - name: Setup test env variables
        if: ${{ github.event.inputs.url != '' }}
        run: |
          echo "E2E_BASE_URL=${{ github.event.inputs.url }}" >> $GITHUB_ENV
          echo "E2E_USER=${{ github.event.inputs.user }}" >> $GITHUB_ENV
          echo "E2E_PASSWORD=${{ github.event.inputs.password }}" >> $GITHUB_ENV

      - name: Run e2e tests
        run: npm run test-e2e
        working-directory: vip-go-mu-plugins

      - name: Archive test results
        uses: actions/upload-artifact@82c141cc518b40d92cc801eee768e7aafc9c2fa2 # renovate: tag=v2.3.1
        if: failure()
        with:
          name: test-results
          path: |
            vip-go-mu-plugins/test-results
            vip-go-mu-plugins/screenshots
