name: Run e2e tests
on:
  pull_request:
  workflow_dispatch:
    inputs:
      wpversion:
        description: 'WordPress version to run tests against'
        required: false
        default: 'latest'
      url:
        description: 'Alternative Test URL'
        required: false
        default: ''
      user:
        description: 'Alternative User Name'
        required: false
        default: ''
      password:
        description: 'Alternative Password'
        required: false
        default: ''

permissions:
  contents: read

jobs:
  Run_e2e_tests:
    name: Run E2E Tests
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@248ae51c2e8cc9622ecf50685c8bf7150c6e8813 # tag=v1.4.3
        with:
          egress-policy: block
          allowed-endpoints: 
            1.gravatar.com:80
            2.gravatar.com:80
            api.github.com:443
            api.wordpress.org:443
            artifactcache.actions.githubusercontent.com:443
            auth.docker.io:443
            codeload.github.com:443
            dl-cdn.alpinelinux.org:443
            dl-cdn.alpinelinux.org:80
            downloads.wordpress.org:443
            frsnacprodeus2file1.blob.core.windows.net:443
            ghcr.io:443
            github.com:443
            nodejs.org:443
            pkg-containers.githubusercontent.com:443
            planet.wordpress.org:443
            playwright.azureedge.net:443
            production.cloudflare.docker.com:443
            public-api.wordpress.com:443
            registry-1.docker.io:443
            registry.npmjs.org:443
            s.w.org:443
            update.containous.cloud:443
            update.traefik.io:443
            vaultpress.com:443
            wordpress.org:443
            dns.google:53
            e2e-test-site.vipdev.lndo.site:80

      - name: Check out repository code
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # tag=v3.0.2
        with:
          submodules: true
          path: vip-go-mu-plugins

      - name: Setup Node
        uses: actions/setup-node@eeb10cff27034e7acf239c5d29f62154018672fd # tag=v3.3.0
        with:
          node-version: 'lts/*'
          cache: npm
          cache-dependency-path: vip-go-mu-plugins/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: vip-go-mu-plugins

      - name: Install VIP CLI
        run: npm install --prefix=$HOME/.local -g @automattic/vip@2.8.2

      - name: Determine WP version
        id: wpver
        run: |
          if [ -z "${{ github.event.inputs.wpversion }}" ]; then
            echo ::set-output name=wpversion::latest
          else
            echo ::set-output name=wpversion::${{ github.event.inputs.wpversion }}
          fi

      - name: Setup test environment
        if: ${{ github.event.inputs.url == '' }}
        run: npm run setup-e2e-env -- -v ${{ steps.wpver.outputs.wpversion }}
        working-directory: vip-go-mu-plugins

      - name: Setup test env variables
        if: ${{ github.event.inputs.url != '' }}
        run: |
          echo "E2E_BASE_URL=${{ github.event.inputs.url }}" >> $GITHUB_ENV
          echo "E2E_USER=${{ github.event.inputs.user }}" >> $GITHUB_ENV
          echo "E2E_PASSWORD=${{ github.event.inputs.password }}" >> $GITHUB_ENV

      - name: Run e2e tests
        run: npm run test-e2e
        working-directory: vip-go-mu-plugins

      - name: Archive test results
        uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8 # tag=v3.1.0
        if: failure()
        with:
          name: test-results
          path: |
            vip-go-mu-plugins/test-results
            vip-go-mu-plugins/screenshots
