name: Lint files

on:
  push:
    branches:
      - develop
      - staging
      - production
      - gh-readonly-queue/**
  pull_request:
    branches:
      - develop
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  lint-php:
    name: Lint PHP files
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v3.5.2

      - name: Set up PHP
        uses: shivammathur/setup-php@2.25.0
        with:
          coverage: none
          php-version: "8.0"
        env:
          fail-fast: 'true'

      - name: Setup Node
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 'lts/*'
          cache: npm

      - name: Install PHP Dependencies
        uses: ramsey/composer-install@2.2.0

      - name: Lint files
        run: npm run lint

  lint-search-dev-tools:
    name: Lint Search Dev Tools files
    runs-on: ubuntu-latest
    steps:
      - name: Check out source code
        uses: actions/checkout@v3.5.2

      - name: Setup Node
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 'lts/*'
          cache: npm
          cache-dependency-path: search/search-dev-tools/package-lock.json

      - name: Install dependencies
        run: npm ci --ignore-scripts
        working-directory: search/search-dev-tools

      - name: Lint files
        run: npm run lint
        working-directory: search/search-dev-tools
