name: CI (Parse.ly)

on:
  push:
    branches-ignore:
      - develop
      - staging
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    name: "Parse.ly: ${{ matrix.config.parsely }} ${{ matrix.config.mode }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          # Oldest version of the parsely plugin
          - { wp: latest, parsely: '3.5', mode: 'filter_enabled', php: '8.1' }
          - { wp: latest, parsely: '3.5', mode: 'filter_disabled', php: '8.1' }

          # Latest version of the parsely plugin
          - { wp: latest, mode: 'filter_enabled', php: '8.1' }
          - { wp: latest, mode: 'filter_disabled', php: '8.1' }
    services:
      mysql:
        image: mysql:8
        ports:
          - "3306:3306"
        env:
          MYSQL_ROOT_PASSWORD: wordpress
          MYSQL_INITDB_SKIP_TZINFO: 1
          MYSQL_USER: wordpress
          MYSQL_PASSWORD: wordpress
          MYSQL_DATABASE: wordpress_test
    steps:
      - name: Check out source code
        uses: actions/checkout@v4.2.1
        with:
          submodules: recursive

      - name: Prepare source code
        uses: ./.github/actions/prepare-source

      - name: Set up environment
        run: |
          echo WPVIP_PARSELY_INTEGRATION_PLUGIN_VERSION="${{ matrix.config.parsely }}" >> "${GITHUB_ENV}"
          echo WPVIP_PARSELY_INTEGRATION_TEST_MODE="${{ matrix.config.mode }}"         >> "${GITHUB_ENV}"

      - name: Run tests
        uses: ./.github/actions/run-wp-tests
        with:
          wordpress: ${{ matrix.config.wp }}
          php: ${{ matrix.config.php }}
